<div class="searchresults">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 col-sm-6 col-xs-7">
      <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/ourtutorsfinal.jpg" style="max-width:100%">
    </div>
    <div class="col-md-5 col-sm-6 col-xs-5">
      <h1>Our Tutors</h1>
    </div>
  </div>
</div>

<div class="container profile">
  <br>  
<div class="row">
  <div class="col-md-3 col-sm-4" style="border-right: 2px solid #eee">
    <h2>A short list of our tutors</h2>
    <p>On the right, we show some of our tutors.</p>
  </div>
  <div class="col-md-9 col-sm-7">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">       
            <img src="https://dl.dropboxusercontent.com/s/32h1enk3kzgpd1l/For_Madelaine.jpg?dl=0" class="img-circle" style="width: 120px; img:circular">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Madelaine T.</h3>
          <p>
            University/ Degree: Cambridge/ Engineering<br>         
            Teaching Subjects: Maths, Chemistry, Physics<br>
            Teaching Levels: IB<br>        
          </p>
          <p style="font-size:14px;">My name is Madeleine Steer and I am a second year engineer at Jesus College, Cambridge. I achieved A*s in Maths, Physics and French at A Level, as well as As in Further Maths, German and Ancient Greek at AS. I achieved 11 A*s at GCSE level, and hope that my previous academic success will make me a suitable candidate if you are trying to choose a tutor.</p>          
        </div>                            
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">        
            <img src="https://dl.dropboxusercontent.com/s/h5vj8qce3xkfhrj/hugo%20lucas.jpg?dl=0" class="img-circle" style="width: 120px">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Hugo L.</h3>
          <p>
            University/ Degree: Oxford/ PPE<br>         
            Teaching Subjects: Politics, History, Economics<br>
            Teaching Levels: A-Level<br>        
          </p>
          <p style="font-size:14px;">Past education is Westminster School, where I completed my GCSEs and A-levels (grades available upon request). I am a fluent German speaker, while also having command over conversational french. </p>          
        </div>                            
      </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">         
            <img src="https://dl.dropboxusercontent.com/s/36nemp1gi7xfg75/harry%20mallinson.jpg?dl=0" class="img-circle" style="width: 120px">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Henry M.</h3>
          <p>
            University/ Degree: Oxford/ Physics and Philsophy<br>         
            Teaching Subjects: Physics, Philosophy, Mathematics<br>
            Teaching Levels: A-Level<br>        
          </p>
          <p style="font-size:14px;">I am a third year student of Physics and Philosophy at the University of Oxford, with several years of experience tutoring to various levels of age and ability. With 10A*s at GCSE and A*s at A level (including in Maths and Physics) I am able to teach a subject and importantly its exam technique to the very highest level, whatever the age or current academic level of the student.</p>          
        </div>                            
      </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">         
            <img src="https://dl.dropboxusercontent.com/s/z3pl3bwq12hnt6y/lakshmi_manjoosha.jpg?dl=0" class="img-circle" style="width: 120px">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Lakshmi M.</h3>
          <p>
            University/ Degree: Oxford/ Engineering<br>         
            Teaching Subjects: Mathematics, Chemistry, Physics<br>
            Teaching Levels: A-Level, IB<br>        
          </p>
          <p style="font-size:14px;">I am currently a second year DPhil student at St Edmund Hall college. My research is focused on wastewater treatment and is funded by the National University of Singapore. Apart from doing that, I’m extremely passionate about technology, education and social enterprises! I am an avid member of Enactus Oxford and also the vice president of Oxford Women for Women International. </p>          
        </div>                            
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">        
            <img src="https://dl.dropboxusercontent.com/s/7i5safqh1z6ibcr/10458986_590268971093972_6021020358081408888_o.jpg?dl=0" class="img-circle" style="width: 120px">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Alice C.</h3>
          <p>
            University/ Degree: Cambridge/ Natural Sciences<br>         
            Teaching Subjects: Mathematics, Chemistry, Physics<br>
            Teaching Levels: A-Level<br>        
          </p>
          <p style="font-size:14px;">Graduated from Cambridge in 2014, I am working in London as a consultant. I finished my first year with a first in Biology of Cells and Elementary maths for Biologists, a 2.i in Chemistry and a 2.ii in Evolution and Animal Behaviour.</p>          
        </div>                            
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">         
            <img src="https://dl.dropboxusercontent.com/s/i0z2vrh3sz43qi2/Oliver-Johnson%20Munday.JPG?dl=0" class="img-circle" style="width: 120px">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Oliver J.</h3>
          <p>
            University/ Degree: Oxford/ Law<br>         
            Teaching Subjects: English, History<br>
            Teaching Levels: A-Level<br>        
          </p>
          <p style="font-size:14px;">Oliver is a first year undergraduate, reading at Balliol College, Oxford for a BA in Law (Jurisprudence). Prior to university, he was an academic scholar at Eton College, leaving with 10A*s and an A at (I)GCSE, and straight As throughout AS and A levels.</p>          
        </div>                            
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">    
            <img src="https://dl.dropboxusercontent.com/s/g85wh1qxgqrdvng/shayantan%20rahman.jpg?dl=0" class="img-circle" style="width: 120px">        
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12">          
          <h3>Shay R.</h3>
          <p>
            University/ Degree: Oxford/ Economics and Management<br>         
            Teaching Subjects: Mathematics, Economics<br>
            Teaching Levels: A-Level, IB<br>        
          </p>
          <p style="font-size:14px;">I am currently a final year student at St. Edmund Hall. Brought up in England and India, I finished my schooling in Kolkata, where I studied English, Maths, Economics, Physics, Chemistry, Environmental Science and Physical Education in my ISC (Indian A-level equivalent examinations). </p>          
        </div>                            
    </div>
    
    
  

  
</div>
  