<div class="jumbotron about">
  <div class="h2box">
    <h1>About Us</h1>
  </div>
</div>
  <div class="aboutus">
        <br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">    
       <h2><a name="ourteam">About Us</a></h2><br>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <p>Young Tutors is a platform for connecting tutors that can offer academic expertise to students that seek academic 
support outside school.  We offer a network of undergraduates and graduates from top universities. Our tutors give academic support with school curriculum, exam preparation and sixth-form/university entrance</p>
            
            Young Tutors was established to make top quality private tutoring more accessible and affordable by sourcing university students 
who are as well educated, dedicated and responsible as part time private tutors. More importantly, our aim is to go beyond just 
offering lessons for achieving higher academic grades but to offer mentors that can share with students the footsteps they have 
taken and offer advice and guidance on their academic career like school seniors.</p>

            <p>Why you can trust Young Tutors</p>
            <p><b>Teaching Experience</b>: being a good tutor is about communicating the tutor’s academic expertise in a concise and comprehensive 
            way to facilitate the student’s understanding of the subject. To do so requires experience of interacting with students. 
            Therefore, all our tutors have teaching experiences.</p>       
            <p><b>Academic Excellence</b>: it is true that being the top of the year does not mean that he/she will be the best tutor. However, 
            Young Tutors believe that as well as confidence and experience in teaching, in-depth knowledge of the subject is essential. 
            Therefore, all our tutors have achieved highest grade in subjects that they teach.</p>
          </div>
             
               
       </div>
      </div>