<div class="jumbotron about">
  <div class="h2box">
    <h2>Learn from fellow students.</h2>
  </div>
</div>
  <div class="aboutus">
        <br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">    
       <h2><a name="ourteam">About GuruMe</a></h2><br>
        <div class="row">
          <div class="col-sm-6 col-md-6">
              <img src="https://dl.dropboxusercontent.com/s/k5eidjedrg288d2/harry.jpg?dl=0" class="img-circle" style="width:170px;">
                <h4>Harry Lee</h4>
                <p>"I've been through and therefore know how stressful and frustrating Oxbridge application can be. I was lucky enough not to have to do admissions test but the personal statement and the interview were very stressful enough, especially the interview not knowing what to expect. This is exactly why we created GuruMe to share application experiences with and help applicants succeed in their university applications with less stress and knowledge of how to prepare application."</p>            
          </div>
          <div class="col-sm-6 col-md-6">
              <img src="/assets/ourteam2.jpg" class="img-circle" style="width:170px;">
                <h4>Henry</h4>
                <p>...</p>            
          </div>         
       </div>
      </div>