<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 style="text-align:center">Application Timeline</h1>
       <img src="https://dl.dropboxusercontent.com/s/n9k3gxrv04u73wy/ukadmissionscalendar.png" style="width: 100%;" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>UCAS</h3>     
     <p>영국 대학입시 과정은 UCAS를 통해 이루어집니다. UCAS는 입시생의 개인 정보, 출신 학교, GCSE/ A-Levels 성적, 자기 소개서, 선생님 추천서 그리고 희망 대학과 희망 전공과목을 적는 원서입니다. 5개의 대학에 지원이 가능하지만 옥스퍼드나 케임브리지 둘 중 하나뿐 만에 지원 가능합니다. UCAS 제출 마감일은 1월 15일이지만 빨리 제출할수록 유리합니다. 3월 31일까지가 대부분 대학의 입시 결과 발표라서 일찍 제출할수록 발표를 일찍 받을 수 있습니다. UCAS 원서 외에도 코스에 따라 추가 인터뷰가 요구될 수 있습니다.</p>
     <p>** For international students, IELTS may be required.</p><br>
     <h3>조건부 합격이란?</h3>
     <p>조건부 합격이란 7,8월에 특정 A-Level/ IB/ Pre-U 성적을 받아야만 최종 입학이 결정되는 영국 입시제도입니다. 조건부 합격에 필요로 하는 성적은 보통학교마다 다르지만 옥스퍼드와 케임브리지가 가장 높습니다.</p>
     <p>*때문에 Gap year 나 재수를 한 학생들은 조건부 합격이 아닌 비조건부 합격을 받게 됩니다.</p>
     </div>
  </div><br> 
  <div class="admissionsfactsbox">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <br><h2>옥스브릿지 대입은 아이비 대입과 다릅니다 - 순수 학업 위주
      <hr>*입시 시험 그리고 인터뷰</h2><br>
    </div>
  </div>
  </div>  
  <div class="admissionsfactsquote">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <h3>"It really doesn't matter if you haven't got any friends or hobbies or if you don't do any charitable work ...[Acceptance] is a purely academic judgement."<br>"친구나 취미가 없거나 봉사활동을 안해도 상관없습니다... [합격은] 오로지 학업 성취도에 달렸습니다."</h3>
        <h4>- <b>Mr Nicholson</b>, 옥스퍼드 입시 교수님</h4>
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 style="text-align:center">옥스브리지 및 의대 입시 타임라인</h1>
       <img src="https://dl.dropboxusercontent.com/s/snrbue6w0a85nhv/oxbridgeadmissions.png" style="width: 100%;" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>옥스브리지 입시에 인터뷰는 필수이며 과목에 따라 추가 시험이 요구될 수 있습니다. 시험은 대학교에서 입시생들의 학문적 가능성과 우수성을 A-Levels/ IB 예상 학점만으로 판단하기엔 어렵기 때문에 치러지는 평가제도입니다. 과목별 입시 시험 및 사고 능력을 평가하는 종합적인 입시시험이 있습니다.</p>
    </div>
  </div>
  <br>

  </div>
  