<br>
<div class="container">
  <div class-"row">
    <div class="col-md-6 col-md-offset-3">
       <h2 style="text-align:center">What is it?</h2>
       <p>Admissions tests are used by universities to examine applicants’ academic potential beyond their predicted grades from national examinations and are written by the universities. Some of these are designed to be subject-specific while others are designed to test thinking skills in general.</p>
      <p>These admissions tests are not only required for Oxbridge for also for competitive other competitive universities, e.g. Durham, Bristol, Imperial, LSE, UCL and etc. and also for competitive courses such as medicine and law.</p>

      <p><i>More about each test</i><br><a href="http://www.admissionstestingservice.org/for-test-takers/" target="_blank">http://www.admissionstestingservice.org/for-test-takers/</a></p>
<br>
      
      <h2 style="text-align:center">시험 장소</h2> 
      <p>한국 고등학교에서 입시하는 학생들은 보통 영국 대사관에서 시험을 치르게 됩니다. 반면 영국에선 여러 군데의 시험관이 있으며 아래 링크에서 그 위치를 찾을 수 있습니다. 영국과 한국이 아닌 나라에서 입시 준비를 하신다면 마찬가지로 아래 링크에서 시험 장소를 찾으실 수 있습니다.<br>
      <a href="http://www.admissionstestingservice.org/find-a-centre/#" target="blank">http://www.admissionstestingservice.org/find-a-centre/#</a><br><br>
      
      *법대 입시 시험 (LNAT)은 유일하게 영국이든 한국이든 다른 나리이든 시험 장소가 다릅니다. <a href="https://wsr.pearsonvue.com/testtaker/registration/SelectTestCenterProximity/LNAT/948295" target="blank">Pearson Vue</a>라는 곳에서 치뤄지게 됩니다.</p>
      <br>
      <h2 style="text-align:center">Which subjects require admissions test?</h2>
      <p>Not all subjects for Oxbridge require admissions tests many of them do.
        Please find which admissions tests are required for which courses from the link below:</p>
      <p><b>Oxford</b>:<br>
  <a href="http://www.ox.ac.uk/admissions/undergraduate/applying-to-oxford/tests" target="_blank">http://www.ox.ac.uk/admissions/undergraduate/applying-to-oxford/tests</a></p>

      <p><b>Cambridge</b>:<br>
<a href="http://www.study.cam.ac.uk/undergraduate/apply/tests/" target="_blank">http://www.study.cam.ac.uk/undergraduate/apply/tests/</a>
</p>
      <br><br>
      </div>
  </div>
</div><!-- end of container -->
  <div class="pstips">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
      <h1>Checklist</h1><br>
       <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Try past papers available online</h3>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Make sure to register for the tests by their required deadline</h3> 
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Check the testing centre nearest to you</h3>
      <br><br>
    </div>
  </div>