<div class="jumbotron footers">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>Earn up to £50/hr teaching <br>subjects you love</h1>
          <h2 style="font-color:#6c767f">at YOUR convenient hours & for how long YOU want to teach</h2>
          <%= link_to "Become A Tutor", new_tutor_profiles_path, class: "btn btn-danger becomeatutor", data: { no_turbolink: true } %>
        </div>
        <div class="col-md-4 col-sm-4">      
          <img src="https://dl.dropboxusercontent.com/s/ak3xgu06q5zeric/become_a_tutor.jpg" class="img-rounded img-responsive" height="300" width="300">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
    <div class="col-md-8">
      <h1>How it works</h1>
      <h3>1. Post your tutor profile</h3>
      <p>Profiles are for you to tell students and parents about yourself who will be browsing through other tutor profiles. So make yours stand out!</p>
      <h3>2. Get in touch with students</h3>
      <p>Students will message you to discuss their needs and goals. Talk to them about how you can help them achieve their goals by designing and proposing your tuition plans.</p>
      <h3>3. Teach students online or in person</h3>
      <p>Once lessons are scheduled, it's time for you to meet your student online or in person and get down to tutoring. Help your students understand diffcicult concept, improve their grades and make a difference in their academic career!</p>
    </div>
    
    <div class="col-md-4" style='border-left: 1px solid #eeeeee;'>
      <p style="font-size: 15px">
        <img src="https://dl.dropboxusercontent.com/s/zgw509s0elmchad/louis_murphy.jpg" class="img-circle" height="100" width="100"><br>
        <i>"I've started working as a tutor with GuruMe since my second year of uni and have really enjoyed teaching students. Definitely the best part time job and I'm sure to carry this on!"</i><br>- Louis Murphy</p>
     
      <hr>
      <p style="font-size: 15px">
        <img src="https://dl.dropboxusercontent.com/s/6b0u2j37099c0wb/akash_jain.jpg" class="img-circle" height="100" width="100"><br>
        <i>"Hearing successful news from students were great joy and I find being able to make a difference to a student's academic life a very meaningful job."</i><br>- Akash Jain</p>
    </div>
  </div>
</div><!-- endof row -->

