<div class="container">
  <div class="row">
    <h2 style="text-align:center">College essays of successful applicants</h2>
    <h3 style="text-align:center">More can be found at <a href="http://collegeappswiki.wikispaces.com/" target="_blank"> AdmitSphere</a></h3><br><br>
    <div class="col-md-2">
      <div class="leftmenubar">
          <h3>Universities</h3>
          <li><a href="#harvard">Harvard</a></li>
          <li><a href="#yale">Yale</a></li>
          <li><a href="#princeton">Princeton</a></li>
          <li><a href="#stanford">Standford</a></li>
          <li><a href="#pennsylvania">Pennsylvania</a></li>
      </div>
    </div> 
    <div class="col-md-8">
      <p><a name="harvard"><b>Harvard, Computer Sciences</b></a></br><br>
    <b>Personal Essay</b><br>
    <i>If you'd like, write whatever you'd like.</i><br><br>
At the corner of each eye lie little crinkle lines, tip-offs to her mood: they might be laughing, or exhausted, or some days furious and fed up with people. If she’s worried about her own affairs she tries to hide it, but rarely can. She never hides her anger, her glee, or her fierce, well-deserved pride. She never hides her opinions.<br><br>
Kim Grant began in South Africa, on a farm. It was a four-hour drive to tennis, and she never missed a practice. She fought all the way to Wimbledon, to number 76 in the world. Then she moved to the United States and built a tennis academy from scratch. Before I began training with Kim, my motivation depended strictly on my interest. If I found my class interesting, I worked at it. When an idea intrigued me, I pursued it. But I avoided working for some theoretical “later.”<br><br>
Kim made me want to change that. I wanted her discipline and motivation. I yearned to know the agony of fighting for something month after month, the drive necessary to dive into something and claw all the way through without ever pausing for breath. I dove into tennis. If Saturday morning Kim wanted me at 7:45, I was there. If Wednesday night she wanted me past 8:00, I texted my parents to have dinner without me. Every day I played tennis I fought to develop Kim’s drive, and after four years I caught hold of it. Paradoxically, this led me to quit tennis. I had always played because I enjoyed exercise and the thrill of competition. I loved the people involved and the work to improve myself. Yet finding the discipline to truly achieve forced me to reconsider my goals: what did I plan to achieve? Kim became a professional athlete, but that wasn’t my aspiration.
So for now, I’m working on my school’s food drive. I’m focusing on my classes; I’m tutoring; I’m drawing a lot. I’m searching for my next pursuit. When I find it, I’ll fight for it – and no matter how long it takes, I’ll get it. The course of my life may not be altered by what I learned of tennis, but the dedication, respect for work, and purpose in action I learned under Kim will resonate always.<br><br>
Occasionally she still calls to ask if I can help her out, moving furniture into the office or driving kids to other courts. People tell me I’m crazy for doing it, and crazier still not to let her pay me. But I think back to every morning Kim let me hit when there wasn’t a clinic, or freed a court so I could practice serving. I think of everything Kim taught me. I do not grant loyalty freely, but when I grant it, I give it completely. Kim has been my tennis coach, and I am thankful for it; but Kim has also been my mentor, my role model – and I am forever grateful for it.</p>
     
    <p><a name="yale"><b>Yale, Chemistry</b></a></br>
      It’s never easy to appreciate something unconventional. Just ask the people who attended the premiere of Igor Stravinsky’s The Rite of Spring, a performance infamous for sparking a riot, reducing the proud composer to tears. Even as a passionate musician, I had trouble finding value in any of Stravinsky’s avant-garde work; that is, until I had to play it.<br><br>
The Firebird is Stravinsky’s other famous ballet, and the concert suite arranged from it is standard repertoire for any professional orchestra. I would often hear from other musicians how breathtaking and awe-inspiring the piece was, but whenever I took the time to listen to a recording myself, I could never get past the first movement. The theme’s variations were the worst: how could anyone be moved by random strings of notes being played in seemingly random places?<br><br>
This year, the conductor of my local youth symphony selected Firebird as the main piece in our repertoire. Flipping through the pages of my part, I saw exactly what I expected: it was difficult, but completely lacking in musical sense, at least to me.
“Let’s start with Berceuse and Finale,” announced the conductor.<br><br>
Expecting the outlandish atonality I had come to associate with Stravinsky’s music, I was stunned when the room melted into a calm string accompaniment and eerie bassoon and oboe solos. Suddenly, the string section burst into a chilling melody that would contrast with the dark, resonant, beautiful French horn solo it led into. The orchestra then joined together in an ascending crescendo that exploded into a majestic trumpet fanfare and finale, booming bass drum and all.<br><br>
So this was the glorious Firebird I had been told about, this thrilling contrast of heartwarming lullaby and infernal frenzy and every other sensation of passion in between. I couldn’t help but smile: I had uncovered a gem of a piece from the deep trenches of my first impression.
Learning to appreciate Firebird led me to The Rite of Spring (no riots were started), and then to Stravinsky’s trio of virtuosic solo pieces standard for the clarinet. Becoming more familiar with his unconventional work has not only expanded my understanding of music, but has also led me to experiment with some of my own artistic interpretation. It’s not advisable to perform an atonal cadenza, of course, assuming my goal is to please the audience, but I do try to add some individual flavor to the sometimes stagnant pieces in classical music.<br><br>
Even outside of music, Stravinsky has transformed me into a more open-minded and innovative person. I have come to enjoy other forms of expression: dance, fine art, literature, even dabbling in them a bit myself. I have learned to consider an unconventional approach to problems in math and science, often developing my own methods to achieve a desired result in a shorter amount of time. Most of all, Stravinsky has taught me to keep an ear out for the cacophonous and dissonant ideas I may encounter; who knows, one might just be another Firebird.</p>
  
      <p><a name="princeton"><b>Princeton, Biology</b></a></br>
      She wore a fluffy elf cap—powder pink, of course—and at barely an arm’s length, she already
sported wispy hair and delicate fingers and toes. Still, her puffy eyes seemed too big for her tiny visage,
which seemed curled into an eternal…scowl? Gingerly, I poked one chubby cheek. “Not cute at all,” I
thought disappointedly as I gazed at my one-day-old sister for the first time. In my impressionable
twelve-year-old mind, I’d always imagined baby sisters to be doll-faced angels, the photoshopped kind
found on Huggies boxes. So my disillusionment was expected, or so I thought. I would hardly
understand what siblinghood entailed until this “little bundle of joy” was long here to stay. Bundle of
joy, indeed. Well, joy is wondrously nuanced, I would soon discover.
<br><br>
It took a while, but my initial bewilderment dissipated in time as I eagerly—perhaps even too
eagerly—fell into the big sister and third parent role. At first, I wanted her childhood to be seamless in
ways mine was not. It was the little things I taught her at first—that Lego structures built with the
smallest piece at the bottom would probably not last, that the laws of physics indicated that bicycles
were meant to be pedaled or else they would topple over. I’d dreamed of someday dueting Brahms’
Hungarian Dances with my sister, and, caught up in my own fantasy, I boldly assumed that my passions
were to become her passions, my unrequited dreams and accomplishments hers, my perfectionism the
same driving force that would serve her as well.
<br><br>
But despite my “teaching,” it dawned upon me that I was no match for her individuality—or her
contagious mirth, for that matter. There is a certain unchecked innocence about her that could only come
from one who was not infallible and did not strive to be so. I could not help but be captivated by her
ability to laugh off even my sternest criticisms during a piano lesson; her carefree disposition constantly
reminded me, in an uncanny, transcendental sort of way, to trust in the world and in myself a bit more.
During the Perseids meteor shower, when my sister insisted on accompanying me in my childhood
hobby of stargazing, I could only laugh at her childish conception of meteors to be glittery embodiments
of “Tinker Bells” flashing across the sky. Yet as I watched her enraptured gaze fixated at who-knowswhere
on the horizon, I realized that for her, no idea is too far-fetched, no solution too impossible. With
this pervasive mindset, I’m able to approach ideas from a new angle, to take risks when caught in an
experimental muddle, to concoct unconventional designs in the newspaper. It is with this candid and
inquisitive mentality that I ask “why?” to questions with no answers, to be earnest, to live.
<br><br>
Because of my sister I’ve learned to love bread crusts, the ends of ice cream cones—and
everything else that needed to be consumed in her wake. Because of my sister, I bypassed moody
teenagerhood. Because of my sister, I realized the beauty and simplicity of a child’s reality.
<br><br>
And from that first day I saw her, I have not scowled since.</p>
        
      <p><a name="stanford"><b>Standford, Economics</b></a></br>
<i>Tell us what makes Stanford a good place for you.</i>
</br></br>
In AP Statistics, I often utilized the Least Squares method to find correlations between two data sets. First, I would generate a curve that minimized the residuals: the differences between corresponding values of the two sets. Smaller residuals implied greater correlation, with a residual of r = 0 being optimal. The process works as long as the data analyzed is a random sample from the two sets.</br></br>

I will now perform Least Squares reduction, juxtaposing my traits and expectations for college with my impression of Stanford. Consider the data points below.</br></br>

Californian: On a scale from 1 to 10, with 10 representing the CA stereotype, I am a 9. I value the environment, I have an enviable tan, and my casual dress belies my assiduous personality. Stanford (a 10) is undoubtedly Californian due to its association with Silicon Valley and John Steinbeck. The resulting residual is r = 1. I belong in CA, and so does Stanford.
</br>
Academic Balance: I excel at math and science; I enjoy writing and the arts. Stanford fosters the perfect balance of innovation and imagination. r = 0.</br>
Opportunity: I’d be delighted to explore the plethora of research and job opportunities at Stanford and in the Bay Area. r = 0.</br>
Distance: San Diego is 32N. Stanford is 37N. r = 5, close enough for me!</br>
Climate: San Fran is San Diego minus the Santa Anas. r = 0.</br>
Numeration: Stanford is currently number 1 on my list of colleges. I would love to be 1 more active student on campus. r = 0.</br>
The residuals are sufficiently small, implying a strong correlation!
</br></br>
Normally, I’d do some number crunching at this point to find the exact correlation. However, since I have not yet experienced Stanford, I cannot guarantee the randomness of the aforementioned data. To determine the true correlation, I first require a Stanford education.</p>

    <p><a name="pennsylvania"><b>Pennsylvania, Computer Sciences/ Engineering</b></a></br><br>
    <b>Which of the academic communities and social communities that now comprise the University of Pennsylvania are most interesting to you and how will you contribute to them and to the larger Penn community?</b><br><br>
I see the beauty in our natural assembly of neurons, the splendor of circuits in digital chips, and of course the undying symphony of computer code running through a compiler. As a firm believer of the values of interdisciplinary education, I embrace Benjamin Franklin's drive to create an intellectually adaptable campus dedicated to closing those traditional bridges in academia. With my own explorations in the fields of neuroscience, computer science, and engineering, I admire Penn's programs combining management with technology, international studies, and life sciences. I aspire to combine business (Wharton) with my technological musings (SEAS), in the hopes that through these mutual efforts of integration, true leaders well versed in multiple spheres will arise. I realize that these academic fields, when taken in isolation, are less meaningful to society and thus strive to focus my interests over a variety of scholastic concentrations.<br><br>
Yet, perhaps the most important facet of Penn education is that student's are driven by their love of knowledge; without this love for learning, one cannot enjoy the fruits of education or expand the horizons of knowledge. I am awed by Penn student's initiative to use their knowledge to solve viable problems within their community. Looking to the entirely student-run club Communitech for inspiration, I am eager to disseminate my knowledge of computers and technology to the surrounding neighborhoods. As a leader of technology clubs at my own school, I have seen how the harnessed dedication of a small group of people can elicit major changes in the community. Collaboration is the breeding ground of novelty, and when a potpourri of different disciplines is thrown into this mix, the resulting ideas can have revolutionary reverberations. One only has to look to Penn's long standing history of paving the way for new emerging technologies such as ENIAC to gain proof of these brainchildren materialized.
Paying tribute to the incredible research being carried out at Penn, I look forward to taking full advantage of the resources and adding my own research in reverse engineering the human brain through a mixture of computer and cognitive science. The ground-breaking investigations in robotics at the GRASP (General Robotics, Automation, Sensing and Perception) facility at Penn is astounding, especially in its role as an affiliate for a cognitive sciences institute, and I hope to become a part of this community of tech developers. With my experiences in these fields, I intend to facilitate cross-talks between faculty and students as together we attempt to unravel the mysteries of human consciousness.
With this environment of unity among diverse individuals, I long to do my part and hope to contribute to this dynamic infrastructure. Franklin's venerable legacy of advocating the harmony of the colonies against British invasion rings loudly in Penn, forming the underlying atmosphere for acceptance and tolerance. As a young Jain, I hope to join The Hindu Students Council and Young Jains of America to foster the spirit of acceptance, broadcasting those principles of peace, non-violence, and morality that are central to Penn's motto.<br><br>
Yet, once can't thrive on academic immersion alone. I aim to actively participate on the Penn Club tennis team in order to complement my intellectual pursuits. I hope to bring my many years of experience as both a singles and doubles player to the club. With sports such as tennis and, of course, Ultimate Frisbee, I can actively relax and at the same time maintain school spirit through friendly competition.<br><br>
I am ready to bring to join this energetic community of leaders, innovators, and those researchers willing to traverse unknown academic territory. I am ready to wholly engross myself in Penn's atmosphere, leaving my very own legacy in the shadow of Franklin. I am ready to make the University of Pennsylvania my new home.</p>
    </div>
  </div>