<img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/exam+preparation.jpg" style="max-width:100%">
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2><%= t('Examination Preparation') %></h2>
      <p><%= t('Examination Prepation p') %></p>
      <br>
      <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/alevel_ib_logo.jpg" style="max-width:100%">
      <br><br>
      <p><%= t('Examination Prepation p2') %></p>
      <p><%= t('Examination Prepation p3') %></p>
    </div>
  </div>

