<img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/exam+preparation.jpg" style="max-width:100%">
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Examination Prepation</h2>
      <p>Demand for private tutorials is ever increasing due to the increasing competition for higher education. To excel at national examinations such as SAT, International Baccalaureate and A-Level, students not only need to understand the subjects but also know the required examination techniques. Young Tutors believes that getting good examination grades is different from having a good knowledge of the subject. Young Tutors realises the importance of gaining both broad understanding of the subject and the skills required to excel in exams. 
      </p>
      <br>
      <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/alevel_ib_logo.jpg" style="max-width:100%">
      <br><br>
      <p>Young Tutors offers the perfect solution to finding the right tutor for students by connecting tutors and students from all education backgrounds and geography.</p>
      <p>More and more students and parents value the importance of international education and, therefore, the number of students going on study abroad in search for high-quality education is ever increasing. Almost a million students came to United States to study abroad in 2012-2013 school year with highest numbers from China, India, South Korea and Saudi Arabia. International students are going abroad with the ultimate goal of entering world renowned universities.</p>
    </div>
  </div>

