<br><div class-"container">
  <div class="row">
    <div class="col-md-12">
    <h2 style="text-align: center">University Admissions Consultation</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2 col-sm-4">
      <div class="circle fc"><!-- same as circles of students and parents page -->
            <h3>Oxford<br> vs<br> Cambridge</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="circle fc">
            <h3><br>College Choice</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="circle fc">
            <h3><br>Subject Choice</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-2 col-sm-4">
      <div class="circle fc2">
            <h3>Preparation<br> Tips</h3>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="circle fc2">
            <h3>Any other enquiries</h3>
      </div>
    </div>
  </div>
  <div class="row" style="text-align:center">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6">
      <h3>Booking</h3>
      <p>Please arrange Skype consultation by by messaging us at <%= link_to "Contact Us", contacts_path %> and provide the following information:</p>
      <hr>
      <p>
          Skype ID<br>
          Any question(s) in mind<br>
          Preferred time + timezone<br>
      </p>
        <hr>
      <p>A member of our team will get back to you within 24 hours to arrange a Skype session.</p>
    </div>
  </div>
      
      
<div id="carouselconsultation" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselconsultation" data-slide-to="0" class="active"></li>
    <li data-target="#carouselconsultation" data-slide-to="1"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="quote"><!-- same format as the text in carouselstars -->
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"Thank you very much for the consultation. My son and I are more confident about how to apply and prepare for next year's Oxford Mathematics application."</p>       
        </div>
      </div> 
    </div>
    <div class="item">
      <div class="quote"><!-- same format as the text in carouselstars -->
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"Harry has given us incredibly useful information and we will definitely use further service from GuruMe."</p>       
        </div>
      </div> 
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carouselconsultation" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carouselconsultation" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
      
      
