<div class="jumbotron homepage">
  <div class="homepagetextbox">
        <h2>Aiming for the best</h2>
  </div>
</div>
<br>
<div class="container"> 
      <div class="row">
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Exam Preparation</h3>
                  <p style="font-size:12px;">Demand for private tutorials is ever increasing due to the increasing competition for higher education. To excel at national examinations such as SAT, International Baccalaureate and A-Level, students not only need to understand the...</p>
               <p style="text-align:right"><%= link_to 'Read more', pages_examinations_path, class:"btn btn-default" %></p>
             </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Online Tuition</h3>
                  <p style="font-size:12px;">Students and tutors use computer, web browser and broadband internet for secure online tutorial. Live video chat program such as skype allows students and tutors to look at each other and communicate in real time while educational...</p>
               <p style="text-align:right"><%= link_to 'Read more', pages_online_tuition_path, class:"btn btn-default" %></p>
             </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Pennsylvania, Engineering, 2009</h3>
                <h4><b>Which of the academic communities and social...</b></h4>
                  <p style="font-size:12px;">I see the beauty in our natural assembly of neurons, the splendor of circuits in digital chips, and of course the undying...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>       
      </div><!-- end of row -->
<br> 
</div><!-- end of container-->
