<div class="searchresults">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/sophie.JPG" style="max-width:100%">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/nat.JPG" style="max-width:100%">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h2>Language Learning</h2>
    <p>Young Tutors believes that the best way to improve language speaking is to practice speaking in that language with a native speaker. Speaking can often be neglected in language courses with greater focus on reading and writing, perhaps because reading and writing can be studied by students themselves. For speaking practice, there are many language learning institutions working with native speakers to teach foreign languages but lessons from such institutions can be costly. Young Tutors offers a platform where language learners can meet native speakers for online chat lessons at an affordable price.</p>
    </div>
  </div>