<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2>온라인 수업 - 스카입 & 이드루</h2>
      <p>온라인 개인 지도는 스카이프와 가상 칠판 프로그램을 활용함으로써 언제 어디서든 수업이 가능합니다. 방학동안 수업을 하다가 학기중에 출국 하여 선생님과 멀리 떨어졌을 때 아니면 원하시는 선생님이 멀리 떨어져 있을 때를 위한 수업 방법입니다.</p>
      <p>스카이프를 비롯한 실시간 영상 통화 프로그램들을 통하여 학생들은 강사와 실시간으로 대화하면서 수업을 들을 수 있으며, 가상 칠판 프로그램을 통하여 문제지, 답안지 및 해설을 공유할 수 있습니다. 국제적으로 사용이 가능한 '스카이프'를 영상 통화 프로그램 '이드루'를 가상 칠판 프로그램으로 추천합니다.</p>  

      </br></br>
      <b>How Does Skype Tutorial Work?</b></br>
      <p>Using a combination of skype chat and collaborative virtual whiteboard, skype 
      tuition allows students and tutors to have tutorials at anytime and anywhere.
       <br><br>
        <img src="https://dl.dropboxusercontent.com/s/ghv3t1pdl12w2xv/idroo.png" class="img-rounded img-responsive" height="200"> 
      </br></br>
      Students and tutors use computer, web browser and broadband internet for secure 
      online tutorial. Live video chat program such as skype allows students and tutors 
      to look at each other and communicate in real time while educational whiteboard 
      program provides a canvas where students and tutors can write with online pen and 
      paper to share problems, solutions and explanations. In addition, academic materials 
      such as problem sheets and past papers in image, word and pdf files can be uploaded 
      for students and tutors to write and work on. 
      </br></br>
      Skype is recommended as the live video chat program because it is international and 
      free while we recommend Idroo for virtual whiteboard. Skype is a free program that 
      can be easily downloaded while Idroo 
       (<a href="http://idroo.com/" target="_blank"><span class="txt_style_1">www.idroo.com</span></a>) 
       is a free online software that can be used with Google Chrome and latest versions of 
       Internet Explorer and Firefox.
      </p>
    </div>
    <div class="col-md-4" style='border-left: 1px solid #eeeeee;'>
      <h2>How to use Idroo</h2>     
      <h3>1. Sign Up</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/jvrihj9e5tnjo05/idroo0.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - Sign up with Idroo or sign in with facebook
        </figcaption>
      </figure>
      <br>
      <h3>2. Create a new board</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/azilfyx6e4iphob/idroo1.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px; ">
           - Click the underlined button
        </figcaption>
      </figure>
      <br>
      <h3>3. Share your board with tutor</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/oxwacnxpu91e3rv/idroo2.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - Click the white background icon that says sharing and message the url of your board to your tutor
        </figcaption>
      </figure>
     <br>      
      <h3>4. Write on the white canvas</h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/f1uuh3n0o613jdo/idroo3.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - Sign up with Idroo or sign in with facebook
        </figcaption>
      </figure>
     <br>
      <h3>5. Upload any past paper or bookpage as pdf doc or image file </h3>
      <figure>
          <img src="https://dl.dropboxusercontent.com/s/w5g6htyq38qmw7o/idroo4.png" width="250" >
        <figcaption style="text-align:left; padding-top:5px; font-size:15px;">
           - Click on the icons that say 'Documents'' and 'Images''
        </figcaption>
      </figure>

    </div>
  </div>