<img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/new+folder/online+tuition.jpg" style="max-width:100%">

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Online Tuition</h2>
      <p>Students and tutors use computer, web browser and broadband internet for secure online tutorial. Live video chat program such as skype allows students and tutors to look at each other and communicate in real time while educational whiteboard program provides a canvas where students and tutors can write with online pen and paper to share problems, solutions and explanations. In addition, academic materials such as problem sheets and past papers in image, word and pdf files can be uploaded for students and tutors to write and work on.</p> 
      <br>
      <img src="https://dl.dropboxusercontent.com/s/ghv3t1pdl12w2xv/idroo.png" class="img-rounded img-responsive" height="200">
      <br>      
      <p>Skype is recommended as the live video chat program because it is international and free while we recommend Idroo for virtual whiteboard. Skype is a free program that can be easily downloaded while Idroo <a href="http://idroo.com/" target="_blank">www.idroo.com</a> is a free online software that can be used with Google Chrome and latest versions of Internet Explorer and Firefox.</p>
    </div>
  </div>