<br><div class="container">
<h2 style="text-align: center">2014년도 그루미 학생들 대학 합격표</h2>
      <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <table class="table">
        <tbody>
          <tr>
            <td>Cambridge <span class="badge">1</span></a></td>
          </tr>
          <tr>
            <td>Oxford <span class="badge">13</span></a></td>
          </tr>          
          <tr>
            <td>Imperial <span class="badge">5</span></a></td>
          </tr>
          <tr>
            <td>Durham <span class="badge">1</span></a></td>   
          </tr>
          <tr>
            <td>Warwick <span class="badge">4</span></a></td>
          </tr>
          <tr>
            <td>LSE <span class="badge">1</span></a></td>
          </tr>
          <tr>
            <td>King's College <span class="badge">1</span></a></td>
          </tr>
          <tr>
            <td>UCL <span class="badge">2</span></a></td>
          </tr>
          <tr>
            <td>St Andrews <span class="badge">1</span></a></td>
          </tr>           
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      
      <table class="table table-striped">
        <thead style="font-weight:bold;">
          <tr>
            <td>이름</td>
            <td>유학중</td>
            <td>대학</td>
            <td>전공</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lee</td>
            <td>싱가포르</td>
            <td>Cambridge</td>
            <td>경제</td>
          </tr>
          <tr>
            <td>Wu</td>
            <td>싱가포르</td>
            <td>Oxford</td>
            <td>화학</td>
          </tr>
          <tr>
            <td>Diwakar</td>
            <td>영국</td>
            <td>Oxford</td>
            <td>생화학</td>
          </tr>
          <tr>
            <td>Lawson</td>
            <td>영국</td>
            <td>Oxford</td>
            <td>화학</td>           
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>영국</td>
            <td>Oxford</td>
            <td>지구과학</td>           
          </tr>
          <tr>
            <td>Bartoszcze</td>
            <td>폴란드</td>
            <td>Oxford</td>
            <td>경제+경영학</td>
          </tr>
          <tr>
            <td>Yu</td>
            <td>홍콩</td>
            <td>Oxford</td>
            <td>화학</td>
          </tr>
          <tr>
            <td>Tsui</td>
            <td>홍콩</td>
            <td>Oxford</td>
            <td>철학+정치+경제학(PPE)</td>           
          </tr>
          <tr>
            <td>Lam</td>
            <td>홍콩</td>
            <td>Oxford</td>
            <td>미술</td>           
          </tr>
          <tr>
            <td>Wang</td>
            <td>중국</td>
            <td>Oxford</td>
            <td>수학+컴퓨터 공학</td>
          </tr>
          <tr>
            <td>Yang</td>
            <td>중국</td>
            <td>Oxford</td>
            <td>수학+통계학</td>           
          </tr>
          <tr>
            <td>Kim</td>
            <td>한국</td>
            <td>Oxford</td>
            <td>법</td>
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>한국</td>
            <td>Oxford</td>
            <td>법</td>
          </tr>
          <tr>
            <td>Anonymous</td>
            <td>한국</td>
            <td>Oxford</td>
            <td>지리학</td>           
          </tr>
          <tr>
            <td>Jeon</td>
            <td>한국</td>
            <td>LSE</td>
            <td>경제</td>           
          </tr>
          <tr>
            <td>Yu</td>
            <td>홍콩</td>
            <td>UCL</td>
            <td>화학</td>           
          </tr>
          <tr>
            <td>Kim</td>
            <td>한국</td>
            <td>UCL</td>
            <td>법</td>           
          </tr>
          <tr>
            <td>Elmani</td>
            <td>두바이</td>
            <td>Imperial</td>
            <td>전기공학</td>           
          </tr>
          <tr>
            <td>Diwakar</td>
            <td>영국</td>
            <td>Imperial</td>
            <td>생화학</td>           
          </tr>
          <tr>
            <td>Chae</td>
            <td>한국</td>
            <td>Imperial</td>
            <td>생화학</td>           
          </tr>
          <tr>
            <td>Si</td>
            <td>홍콩</td>
            <td>Imperial</td>
            <td>화학</td>           
          </tr>
          <tr>
            <td>Yu</td>
            <td>영국</td>
            <td>Imperial</td>
            <td>화학</td>           
          </tr>
          <tr>
            <td>Yu</td>
            <td>홍콩</td>
            <td>St Andrews</td>
            <td>화학</td>           
          </tr>
          <tr>
            <td>Huang</td>
            <td>중국</td>
            <td>Warwick</td>
            <td>영문학</td>           
          </tr>
          <tr>
            <td>Gloria</td>
            <td>중국</td>
            <td>Warwick</td>
            <td>경제</td>           
          </tr>
          <tr>
            <td>Diwakar</td>
            <td>영국</td>
            <td>Warwick</td>
            <td>생화학</td>           
          </tr>
          <tr>
            <td>Jeon</td>
            <td>한국</td>
            <td>Warwick</td>
            <td>경제</td>           
          </tr>
          <tr>
            <td>Diwakar</td>
            <td>영국</td>
            <td>Bristol</td>
            <td>생화학</td>           
          </tr>
          <tr>
            <td>Diwakar</td>
            <td>영국</td>
            <td>York</td>
            <td>생화학</td>           
          </tr>
          <tr>
            <td>Huang</td>
            <td>중국</td>
            <td>York</td>
            <td>영문학</td>           
          </tr>
          <tr>
            <td>Si</td>
            <td>홍콩</td>
            <td>York</td>
            <td>화학</td>           
          </tr>
          
          <tr>
            <td>Jeon</td>
            <td>한국</td>
            <td>LSE</td>
            <td>경제</td>           
          </tr>
          <tr>
            <td>Gloria</td>
            <td>중국</td>
            <td>Durham</td>
            <td>회계학+금융</td>           
          </tr>
          <tr>
            <td>Kim</td>
            <td>한국</td>
            <td>Durham</td>
            <td>법</td>           
          </tr>
          <tr>
            <td>Yoon</td>
            <td>한국</td>
            <td>Durham</td>
            <td>철학+정치+경제학(PPE)</td>           
          </tr>
          <tr>
            <td>Kim</td>
            <td>한국</td>
            <td>Nottingham</td>
            <td>법</td>           
          </tr>
          <tr>
            <td>Chae</td>
            <td>한국</td>
            <td>King's College</td>
            <td>생화학</td>           
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div><!-- end of container -->  
  <div id="carouselstars" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carouselstars" data-slide-to="0" class="active"></li>
    <li data-target="#carouselstars" data-slide-to="1"></li>
    <li data-target="#carouselstars" data-slide-to="2"></li>
    <li data-target="#carouselstars" data-slide-to="3"></li>
    <li data-target="#carouselstars" data-slide-to="4"></li>
    <li data-target="#carouselstars" data-slide-to="5"></li>
    <li data-target="#carouselstars" data-slide-to="6"></li>    
  </ol>
 
  <!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
       <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"Maria was not a tutor- she was a teacher who helped me to take a step further as a student and as a person. Through our sessions, I did not only develop a broader understanding of the subject (Law) but also became more reflective of the significance of the subject and the kind of person I wish to be by studying the subject. This, without any doubt, strengthened my university application in the most significant way and I can not be more thankful that I met her."</p>      
          <h4 class="pull-right">Kim, Law offer from Oxford University</h4>
         </div>
      </div>
    </div>
    <div class="item">
     <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"Harry is a very dedicated tutor. He tried to give me as much time as possible in order to prepare, even when he was abroad! His enthusiasm for the subject rubbed off on me and the questions he provided were well suited to my personal statement as well the specific college I applied to. His wide range of contacts really helped because he has a large bank of questions at hand. Whenever I was on the wrong track, he would guide to the correct answer without telling me the final answer and he always had a follow up question for me. He tried to push me to my limits, which is definitely what the tutors at Oxford try to do. I couldn’t have got a better tutor; he really made me feel comfortable and that gave me confidence in the real interview"</p>      
          <h4 class="pull-right">Jei, Biochemistry offer from Oxford University</h4>
         </div>
      </div>
    </div>
    <div class="item">
     <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"Edmond gave me a good understanding of how to prepare for the interview. Mock interviews along with his tips and advise made me more confident of presenting myself on the actual day. If not for meeting Edmond through GuruMe, I would have not known how to go about my preparation."</p>      
          <h4 class="pull-right">Lee, Economics offer from Cambridge University</h4>
         </div>
      </div>
    </div>
    <div class="item">
     <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"The practice questions given by Tom were top notch. I felt like it gave me a lot more confidence walking into the interview. Some of the questions were so similar to the actual questions that were asked so much so that I think Tom has been a major contributor to my success in getting an offer."</p>      
          <h4 class="pull-right">Yu, Chemistry offer from Oxford University</h4>
         </div>
      </div>
    </div>
    <div class="item">
     <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"She was absolutely amazing! The tutoring was focused on preparing for university entry. She was so patient and encouraging and was always willing to help me whenever I needed her help. She was incredibly knowledgeable, kind, helpful and sincere. I was offered a place and I honestly could not have done it without Holly."</p>      
          <h4 class="pull-right">Anonymous, Geography offer from Oxford University</h4>
         </div>
      </div>
    </div>
    <div class="item">
     <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"The tuition was conducted in an extremely professional way, with a lot of specific feedback and a thorough analysis of the key points An ideal tutor for an interview!"</p>      
          <h4 class="pull-right">Lukasz, E&M offer from Oxford University</h4>
         </div>
      </div>
    </div> 
    <div class="item">
     <div class="quote">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-8 col-sm-8 col-xs-9">      
          <p>"The mock interview for PPE offered by Luke was a great help for me - with Oxford-style questions chosen based on past questions and the newest trends in the curriculum, I have come to realise my own strengths and weaknesses, and his suggested readings (especially the part on logic and democracies) are particularly useful. I am much better equipped for the interview now - thank you Luke!"</p>      
          <h4 class="pull-right">Tsui, PPE offer from Oxford University</h4>
         </div>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carouselstars" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carouselstars" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
  
  

<div class="container">