<br>
<div class="container">
  <div class="row" style="text-align:center">
    <div class="col-md-4 col-sm-4">
       <object width="320" height="245"
      data="http://player.youku.com/player.php/sid/XOTAzNDc3NjYw/v.swf">
        </object>
    </div>
    <div class="col-md-4 col-sm-4">
      <object width="320" height="245"
      data="http://player.youku.com/player.php/sid/XOTAzNDg5ODky/v.swf">
      </object>
    </div>
    <div class="col-md-4 col-sm-4">
        <object width="320" height="245"
      data="http://player.youku.com/player.php/sid/XOTAzNDc5MTcy/v.swf">
        </object>
    </div>
  </div>
  <br>
<div class="row">
  <div class="col-md-3"></div>
<div class="col-md-6">

<p><b>Biochemistry</b></br>
      Given that the selectivity filter is lined with carbonyl oxygens, how might K<sup>+</sup> channel allow K<sup>+</sup> through but not Na<sup>+</sup> when Na<sup>+</sup> is smaller?</p><br>

<p><b>Chemistry</b></br>  
   List the following in increasing order of basicity: ammonia, water, ethylamine</p></br>
<p><b>Computer Sciences</b></br>
You are in a room where everyone including you has a white hat and black hat put on their heads. can you guess the color of your hat with more than 50% probability?</p></br>
<p><b>Classics</b></br>
To what extent can you justify heroism in the Iliad?</p></br>
<p><b>Engineering</b></br>
How long would it take to pump water out of a cellar 2m and floor space 25m<sup>2</sup>?</p></br>

<p><b>Economics</b></br>
There are 8 coins to be divided between A and B. A first makes an offer of how to divide the 
8 coins between them. If B refuses A’s offer, then now it is B’s turn to make the offer, but 
this time 4 coins are taken away so that only 4 coins can be divided between them. Again, if 
A refuses B’s offer then now A can make an offer again, but again the stake is halved to two 
coins. Once a single coin remains, whoever makes the offer takes the coin. What offer should 
A make at the beginning? (assuming B is rational, and A knows that B is rational)</p></br>
<p><b>Geography</b></br>
       Does ivy growth protect or destroy walls?</p></br>

<p><b>Law</b></br>
        If the punishment for parking on double yellow lines were death, and therefore nobody
did it, would that be a just and effective law?</p></br>
<p><b>Maths</b></br>
  (i) State the triangle inequality in a triangle with lengths of sides a, b, c.<br>
  (ii) Derive relations between the lengths of its 4 sides and 2 diagonals using the triangle
inequality.</p></br>
<p><b>Materials Sciences</b></br>  
   Find the area of a solar panel, that can allow a person to take shower for 24-hours (never stop).</p></br> 
<p><b>Natural Sciences (biological)</b></br>  
   Why do we have a slighly raised heel on our shoes? (Hint: think from evolutionary point of view)</p></br>
<p><b>Medicine</b></br>
(When given a photograph of an obese mouse and a normal mouse) Why is one mouse fat?</p></br>
<p><b>Philosophy</b></br>
If the probability of winning a lottery is low but someone still wins and the probability of sun not rising tomorrow is also low, can we assume that the sun will not rise tomorrow?</p></br>
<p><b>Physics</b></br>
     A ball bearing is flying through space (vacuum and no overall gravitational field). 
     It heads towards a doughnut, through its centre and out the other side. Draw graphs of 
     1) speed vs time and 2) acceleration vs time</p></br>
</div>
</div>