<div class="container"><br>
  <div class="row" style="text-align:center;">
    <div class="col-md-12">
      <h2>What are interviewers looking for?</h2>
    </div>
  </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 col-sm-6">
          <div class="interviewscircle">
            <h2>Ability to think</h2>
          </div>
           <p><i>“Interviewers are not necessarily looking for the right answer but one that shows innovative thinking”</i></p>
          <h5 style="text-align:right">Dr Sam Lucy<br>Newnham College Admissions Tutor</h5>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="interviewscircle">
            <h2>Passion</h2>
          </div>
          <p><i>"We're looking for students who are intelligent - very interested in their subject and who can demonstrate their interest"</i></p>
         <h5 style="text-align:right">Mike Nicholson<br> Head of Undergraduate Admissions <br> Oxford University</h5>
        </div>  
      </div>
<br><br>
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>Interviews are used to assess applicants’ academic excellence and potential but, in addition, they provide a way for universities to assess applicants’ passion for subjects they wish to study. Oxford and Cambridge are famous for how important interviews are in their admissions process.</p>
      <p>Therefore subjects that do not require admissions test invite most of their applicants to the interview while subjects that do invite approximately -50% of applicants. Cambridge invites most of applicants for interviews (many of those invited to interviews will sit admissions test during the interview period. So it is fair to say that interviews are the most important part of the admissions process.</p>
<br><br>      
      <h1 style="text-align:center">Interview Format</h1>
      <p>Oxbridge applicants are usually interviewed by 2 or 3 tutors (who will likely be your subject tutors and teach you if you get in), and may have up to two interviews with each interview being 20-30 minutes long. In Oxford, 1 interview will be at your chosen college while the other one will be a randomly allocated college. This is different to Cambridge where all your interviews are held at your chosen college. Students will often be asked to talk about what interests them about the subject they are applying to study, based on their personal statement, or books or articles they have read recently.</p>
      <p>Interviewees may be given some texts to read and prepare before the interviews*</p>
      <p>Interviews will usually  consist of 3-5 sets of questions, starting with A-Level standard question, then gradually move up the level to university first year level questions. Obviously, applicants wouldn't be able to answer university level questions which is why interviewers want to give some hints and see whether students can quickly absorb new concepts and solve unseen problems. Also how passionate applicants are about their subjects will be evident from their reactions when they are taught new concepts.</p>
    </div>
  </div>
</div><!-- end of container -->
<div class="pstips">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
      <h1>Checklist</h1>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Solidify your A-Level knowledge</h3> 
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Read about your favourite topics beyond school level that you can confidently discuss about</h3>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;If you are sciences student, try some challenge questions, e.g. Royal Society of Chemistry and British Biology Olympiad</h3>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Try some of our real past Oxbridge interview questions</h3>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Mock interviews that are 25 minutes long to model real ones</h3><br><br>
    </div>
  </div>
</div>     