<br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align:center">
      <h1>For Institutes</h1>
      <h4>Demands for tutors with top university backgrounds  are high and insitutes may often find it difficult to meet the right tutors for their students.</h4> 
      <h4>GuruMe supplies elite tutors from Oxford and Cambridge if you need  tutors for:<h4>
        <h3><span class="glyphicon glyphicon-search partnersglyphicon"></span>&nbsp;A-Levels/IB/Pre-U<br> 
        <span class="glyphicon glyphicon-search partnersglyphicon"></span>&nbsp;Personal Statement/ Admissions Test/ Written Tests/ Interviews services</h3>
        <br>
      <h4>through:<h4>
        <h3><span class="glyphicon glyphicon-pencil partnersglyphicon"></span>&nbsp; Offline teaching at your center<br>
        <span class="glyphicon glyphicon-pencil partnersglyphicon"></span>&nbsp;Online  teaching through Skype + virtual whiteboard (please refer to our <%= link_to "Online Tuition", pages_online_tuition_path, class: "link" %> page)</h3>
        <br>
        <h4>Please browse through our tutor list to find the right tutors you need. </h4>
    </div>
  </div>
</div><!-- end of container -->
  <div class="schoolscontact">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="text-align:center">
        <h1><span class="glyphicon glyphicon-envelope"></span></h1>
        <h3>Please contact support@gurume.co.uk for more information</h3>
      </div>
    </div>
  </div>
<br>
<div class="container">
  <h1 style="text-align:center;">Our Partners</h1>
  <br><br>
  <div class="row" style="text-align;center">
    <div class="col-md-3">
      <img src="https://dl.dropboxusercontent.com/s/8rs7djcc0ai3jco/GreenEdu.png" style="width: 200px;">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <img src="https://dl.dropboxusercontent.com/s/yvdg1uj9aea0iif/Hedge%20Exchange.png" style="width: 200px;">
    </div>
  </div>
  <div class="row" style="text-align:center">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <img src="https://dl.dropboxusercontent.com/s/qyd0wf8fd2k4809/KanDongSee.png" style="width: 300px;">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <img src="https://dl.dropboxusercontent.com/s/3uc7zv7gfy1zm6y/Oxford%20Institute.png" style="width: 200px;">
    </div
      <div class="col-md-3"></div>
  </div>