<div class="jumbotron personalstatement">
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
  <h1>Personal Statements</h1>
  <h2>of successful applicants</h2>
  <table class="table">
	<thead style="color:white;">
		<tr>
			<th>Arts</th>
			<th>Sciences</th>
			<th></th>
		</tr>
	</thead>
	<tbody> 
		<tr>
			<td><a href="#ppe">PPE</a></td>
			<td><a href="#mathematics">Mathematics</a></td>			
		</tr>
		<tr>
			<td></td>
			<td><a href="#biochemistry">Biochemistry</a></td>			
		</tr>
		<tr>
			<td><a href="#clasics">Classics</a></td>
			<td><a href="#chemistry">Chemistry</a></td>			
		</tr>
		<tr>
			<td><a href="#history">History</a></td>
			<td><a href="#physics">Physics</a></td>
		</tr>
		<tr>
			<td><a href="#history&economics">History & Economics</a></td>
			<td><a href="#physics&philosophy">Physics & Philosophy</a></td>
		</tr>
		<tr>
			<td></td>
			<td><a href="#medicine">Medicine</a></td>		
		</tr>
    <tr>
      <td></td>
      <td><a href="#naturalsciences">Natural Sciences</a></td>
    </tr>    
	</tbody>
</table>
  </div>
  </div>
</div><!-- end of jumbotron -->
<div class="container">
  <div class="row personalstatements">
   <div class="col-md-10 col-md-offset-1">
    <p><a name="ppe"><b>Oxford, PPE</b></a>
    </br>
    My decision to study PPE was confirmed during research for my EPQ, from which I learnt
    a lesson of crucial importance: the full understanding of any issue in society requires a 
    multidisciplinary approach, one which combines the three disciplines of philosophy, politics and economics. The aim of my project was to ascertain the precise extent to which President Park Chung-hee was responsible for the ‘Miracle on the Han River’, the rapid economic development and industrialisation of my own country, South Korea, after the Korean War. Combining politics and economics was particularly relevant because the entirety of Park’s authoritarian rule revolved around one objective: economic growth. Indeed, weighing the explanations of liberal economists, such as Krugman’s ‘The Myth of Asia’s Miracle’, against those of the statists, such as Kim Hyung-A’s ‘Korea’s Development Under Park Chung-hee’, I concluded that Park’s state intervention had played a key role in facilitating the ‘Miracle’. This, naturally, raised difficult philosophical questions; can such economic growth justify the suspension of political freedoms and rights? I believe it can, under adapted Hobbesian principles. I also saw how the public consensus on Park was being constantly remoulded by contemporary political contexts, radically so following tumultuous events such as Korea’s democratisation in 1987 and the 1997 Asian Financial Crisis, inspiring me to write a competition essay on the historiography of Park. This experience of searching for evidence, from multiple libraries, the internet, and across two languages, was one which I thoroughly 
    and most truly enjoyed.
    </br></br>
    The most interesting work I chanced upon during the EPQ was ‘Bad Samaritans’ by Chang 
    Ha-joon, which argued that the path to development lay in pragmatic state capitalism and 
    selective protectionism, contrary to the Washington Consensus. I found this to be well-
    evidenced and in agreement with my own understanding of Korea’s developmental history, 
    and I have begun questioning several aspects of neoliberal economics in my A2 Economics 
    syllabus, especially regarding free trade and development. I also question the inherent bias in the syllabus for low inflation through contractionary fiscal and monetary policies, which may be an unfavourable trade-off – something which I believe applies to Osborne’s austerity cuts, as the costs of slow growth and unemployment will likely outweigh the benefits.
    </br></br>
    The subject of nations and nationalism is one of great interest to me, a scholarly passion which began in my History A-level, where nationalism’s role in creating the mass citizen armies of the French Revolution fascinated me (something especially relevant to me with Korea’s compulsory military service). This led me to begin reading into the phenomenon of nationalism itself, from origins and definitions, but especially regarding its ‘morality’. From Michael Sandel’s ‘Justice’, I learnt that the subjection of ethics to rigorous critical examination was essential, for political decisions could not be based solely on considerations of utility. However, I found his justification of patriotism unsatisfactory, especially since based on elusive non-voluntary obligations. Thus, I began reading several other works on the ethics of nationalism, most convincing of which I found to be Thomas Hurka’s ‘Justification for National Partiality’. This additional reading on nations and nationalism has also led to greater appreciation of my A2 Anglo-Irish History module, as it allows me to challenge numerous aspects of the nationalist interpretations of Irish history.
    </br></br>
    Beyond my academic work, I have several leadership roles. I am a Prefect and a Mentor, and Deputy Head of the boarding house. I am also a licensed paraglider and enjoy playing rugby. I greatly look forward to the opportunity of truly engaging and pushing my intellectual boundaries at a university of academic excellence amidst like-minded peers and tutors.	
    </p>

    <p><a name="history&economics"><b>Oxford, History & Economics</a></b>
    </br>	
    This summer I was selected to attend a two-week programme at Yale University, based on a
    graduate course called Grand Strategy. It combined the study of Economics, History, and Philosophy to inspire examination of society from a wide variety of perspectives. I had always been intrigued by the relationship between statecraft and historical events ever since reading 'The Rise and fall of the Great Powers' by Paul Kennedy. In his analysis of how global hegemonies wax and wane, Kennedy highlights that the art of statecraft requires understanding of not only economics and history but also their interaction. Presenting my own arguments and being cross-examined at length by eminent scholars such as Paul Kennedy, John Lewis Gaddis and John Negroponte served only to deepen my 
    interest in History and Economics.
    </br></br>
    History appeals to me because it is a study as much of the present as it is of the past. I took the medieval history course for A-level because I found charm in studying a period so distant and different from the present. I soon realised, however, that there were many more parallels between the two. For instance, in Charlemagne's efforts to unify Europe, I saw the seed of the European Union. Similarly, when I read Sun Tzu's 'Art of War' and Clausewitz's 'On War', I found that they were not mere military manuals but valuable historical sources for understanding Eastern and Western philosophy on leadership. Christopher Bassford, in his paper, 'Clausewitz and His Works', written for the Army War college, contends that any modern interpretation of Clausewitz or Sun Tzu is a distortion of the original text. However, I believe historians' constant revision of sources is not a distortion but precisely what makes history so compelling.
    </br></br>
    If History A-level has taught me sensitivity to context, Economics and Mathematics A-levels have helped me develop the ability to derive abstract theories to arrive at logical solutions. Deciphering a mathematical problem that seems impenetrable at first sight or comprehending a complex economic theory brings me immense satisfaction and intellectual pleasure. With the tools that I learnt through the A-level course, I was able to study a wide range of historical examples and justify the logic behind financial institutions' efforts to overcome economic crises. In my independent research this summer for the Keynes Prize in Economics, I analysed the appropriateness of state funding of the BBC through both historical and economic lenses. I studied theories about privatisation and assessed whether they are applicable in the modern broadcasting era. I came to 
    the view that the BBC holds a critical societal role to provide cultural enrichment and to mitigate biased media, eliminating the case for its privatisation.
    </br></br>
    Although I am a keen academic, winning the subject prize in Medieval History at school and a prize for my Marshall Plan on the grand strategy of the Korean peninsula in the summer programme, I have participated in a range of extra-curricular activities. My commitment to the Debating Society and Model United Nations conferences around the country has enabled me to form my own ideas about current global issues. On the other hand, the Entrepreneurship Society, where I attended numerous lectures given by world-renowned entrepreneurs, has helped me see how these experts' views on the current financial world differed from my own.
    </br></br>
    I am assured that my intellectual curiosity, which I have developed through profound reading and research, will guide me through the challenges posed by a university degree. Although my capability shall be tested to its limit, it is a challenge I look forward to with relish.
    </p>

    <p><a name="classics"><b>Oxford, Classics</a></b>
    </br>	
    Before I set my mind on studying Classics, I used to think that my purpose in life was to
    become a successful businessman. And so, with that in mind, my original intention was 
    to study Economics at university. However, while studying ancient Greek for A-level, I 
    was inspired by Homer’s exceptionally skilful treatment of human affairs in the ‘Iliad’, a 
    book, which so fired my imagination about the vastly enlightening Classical world, that I 
    changed my mind. This decision was in itself a Renaissance for me. I was able to escape 
    the absolutist self in me in the same way that the Enlightenment philosophers moved 
    away from theology in order to bring back the culture of Hellenism. Now, I would like 
    to extend my knowledge in Classics by studying its timeless literature and philosophy 
    and by evaluating ancient sources, which will help to examine the roots of contemporary 
    culture. 
    </br></br>	
    I have heard of the culture of 5th century Athens described as the first ‘knowledge 
    explosion’. For me, the prospect of academically participating in the immense 
    achievements of the Greeks holds great excitement. My curiosities particularly lie 
    in ancient philosophy. Socrates is the figure that I admire the most because of his 
    genuine attitude towards philosophy and ethics. I think it is sufficiently explained in 
    the ‘Apology’ how much he loves knowledge for its sake and similarly how much he 
    values the concept of “γνωθι σεαυτον”. I am also fascinated by Plato’s metaphysics 
    and epistemology in his ‘Republic’ because it is extremely sophisticated and is certainly 
    one of the finest answers to Thales’ question of the ultimate substance. Furthermore, 
    Aristotle’s account of the virtues in the ‘Nichomachean Ethics’, I believe, is a brilliant 
    one. He addresses the human telos of happiness directly and the issues of morality, 
    pleasure and friendship are dealt with in an appropriate way. It has been a key text in 
    my life personally and it is not surprising to me that modern philosophers have started a 
    revival of virtue ethics. 
    </br></br>	
    The Greek language interests me too. Unlike English or Korean both of which I speak 
    and write fluently, I find ancient Greek so subtle and articulate. There are idioms and 
    grammatical usages that I fully adore because of their uniqueness. For example, the use 
    of the middle intrigues me because of its variety and irregularity. Unsurprisingly, I really 
    enjoy working on Greek grammar and syntax. Also, I have this term started the Latin AS 
    level and look forward to relishing the challenges that Latin has to offer, especially in 
    terms of the Latin language. 
    </br></br>	
    On the personal side, I am motivated, scholarly and ambitious. I am an all-round scholar 
    and a prefect at my school and last year received the Classics prize. I think the reason 
    why I am thriving academically is because of my serious attitude towards work and my 
    zeal for self-realisation. Outside of academic study, I am an enthusiastic sportsman and 
    I have represented the school 1st team in both rugby and hockey. Meanwhile playing
    bridge and chess has helped me to sharpen my mind. 
    </br></br>	
    Finally, with the end of my school career rapidly approaching, I am very much looking 
    forward to seizing the opportunity to study a subject that genuinely fascinates me and 
    becoming a more rounded human being at university as I believe that I have much 
    potential to flourish in the years to come.
    </p>

    <p><b><a name="mathematics">Oxford, Mathematics</a></b>
    The first time I decided that I really wanted to study a Mathematics degree was after reading Simon Singh’s ‘Fermat’s Last Theorem’. I was captivated by his description of Andrew Wiles’ struggle to prove one of the most di!cult problems in Mathematics. Besides reading about Wiles’ remarkable perseverance and dedication, two important qualities for a mathematician, I also enjoyed some famous proofs that the book introduced to me. Whilst Mathematics has always been my strongest subject at school, previously I had merely taken for granted laws such as Pythagoras’ theorem or the infinity of primes. To see the proofs, seemingly simple but including one piece of ingenuity, made me understand that there is much beauty involved in Mathematics. This also spurred me on to read other popular mathematics books such as Marcus du Sautoy’s ‘Music of the Primes’, which exposed me to the field of number theory and the Riemann Hypothesis. I am also fascinated by the application of Mathematics in the real world, such as in Physics and Economics, my other A-level choices. One particular area which I have investigated has been the use of Mathematics in cryptography, which forms an essential part of e-commerce in today’s world. My essay on mathematical ciphers won the school Mathematics Essay Prize (out of a year of 150 pupils) and developed my understanding of the importance of number theory and modular arithmetic from researching the RSA system of public key cryptography. 
    <br><br>
    I think that I have the attributes that are required to study Mathematics successfully; I am very determined and am happy to spend time on a problem if the answer is not immediately obvious. I have advanced to the Intermediate Mathematical Olympiad twice, receiving a certificate of merit, and so have had experience in tackling longer questions. I find the less structured style of the Olympiad problems more interesting than usual syllabus questions as they require more thought and creativity in tackling them. This results in greater satisfaction when one does arrive at the solution. A major benefit of a Mathematics degree is the intellectual challenge that it poses and this is one of the main attractions for me. I will also be taking the STEP and AEA exams next summer along with my A- levels, which will expose me to more demanding material that will help me to make the transition from schoolwork to university level. 
    <br><br>
    In addition I have participated in various Mathematics competitions. I was part of four-man teams in two inter-school competitions, the Hans Woyda competition and the Senior Mathematics Team Challenge, run by the UKMT. We were successful in both; in the Hans Woyda competition our team won the ER Allsopp Plate, while in the Mathematics Team Challenge we were among the top 40 schools nationally. These experiences greatly helped my mathematical education as they tested both my ability to think quickly to tackle short timed questions as well as my capacity to cope with more varied lengthier questions. As part of a team I gained the confidence to communicate my ideas and learn from my fellow teammates, a valuable skill for studying Mathematics at university. 
    <br><br>
    I have also taken part in several extra-curricular activities, such as the Duke of Edinburgh Award Scheme. I am participating in the gold award, having completed the bronze and silver awards. The commitment and time management skills that I have gained from this will be useful in university life. I enjoy music, and have passed my grade 7 piano exam with merit. I am also a keen chess player, having twice qualified for the National Gigafinal of the UK Chess Challenge (top 2500 in the UK). The hard thought and rigour associated with chess will transfer well into my mathematical studies. 
    <br><br>
    I am excited at the prospect of journeying further into the mathematical world that lies ahead at university, and feel that I have the qualities that will make me a successful student of this diverse and elegant discipline. 
    </p>

    <p><a name="biochemistry"><b>Oxford, Biochemistry</a></b>
    </br>
    As a volunteer worker waiting standby in the hematology and oncology department, I saw kids younger than me with no hair because they had cancer. This was in a recent work experience at the Korean Cancer Center Hospital in Seoul. There, I realized that these young cancer patients could not live the same healthy life as most other kids. This has reinforced an aspiration to research cures for diseases as a biochemist, which originated as a result of a personal experience of being a patient at a hospital and meeting many patients with different conditions.
    </br></br>
    To research cures for diseases, I would need to know how the body functions and, therefore, this is what I am interested in studying. I think that learning about chemical reactions within cells that cause the cell, tissue, organ and organ system to function is more satisfactory than learning about the anatomy or physiology which have limits in biomedical research. One area of interest is stem cell research for its therapeutic potential in repairing damaged parts of body by growing new healthy tissues and organs. I believe that the key to clinically using stem cells lies in identifying how genes become inactivated when a stem cell specializes, as the current stem cell research looks at ways of differentiating embryonic stem cells into specifically specialized cells. I tried to read 'Cloning and Stem Cells' journal from December 2008. Although the journal was difficult to understand, it gave me a flavor of the progress made in this area of research. Learning the mechanism of immune response from the 'The chemistry of life' by Steven Rose was enlightening. In particular, deletion of immature T cells capable of recognizing 'self' peptidE in the thymus in order to maintain 'self-tolerance', and the failure to do so resulting in autoimmune diseases have been something new that I would like study in more depth. In addition, I read 'Power, Sex, Suicide' by Nick Lane and could learn about the mitochondrial evolution and more about respiration. In particular, the mitochondrial theory of ageing, its role in the programmed cell death, 'apoptosis', and how the failure of this program leads to cancer were thought provoking so that I would like to study more about such roles of the mitochondria.
    </br></br>
    I was selected to take part in the British Biology Olympiad 2009 in my L6th year in which I was 'Highly Commended'. In preparation for this, I read ahead in Biology using several
    different text books and had to cover the majority of the Olympiad syllabus in my free time. The amount of reading and learning was the biggest challenge. It was my determination to achieve a medal that kept me reading the pages. I hope that my determined quality will help in going through the hard work that the Biochemistry course entails. My strongest subject is chemistry and I received the chemistry prize of the year for lower sixth. Also, I scored the best in the school for the senior UK Maths Challenge 2008.
    </br></br>
    Outside class, I have participated in various extra-curricular activities such as playing percussions in the college orchestra, performing a play (Pinter Short) and a musical (Chorus Line). The Duke of Edinburgh (bronze and silver) was a challenge that tested my determination at times of tiredness. Also, as the vice-chairman of Science Committee, 
    I helped promote Science for both staff and students at Wellington and, recently, I organized a sustainable design challenge. I am the deputy head of my boarding house. Sports wise, I am a member of my school U18 basketball team. With these determined, organized and intellectual qualities, I believe myself to be an excellent candidate for the Biochemistry course.</p>

    <p><a name="physics&philosophy"><b>Oxford, Physics & Philosophy</a></b>
    </br>
Physics and Philosophy explore both the physical and metaphysical world. The former poses questions such as 'what are quarks?' whereas the latter can ask 'are quarks real?'. They form a complete whole in understanding the world to me, for a gap in knowledge in the former can be explored via latter, and vice-versa. I want to develop my enquiry skills in understanding theories of physicality, such as Newtonian Mechanics, as well as non-physical theories like Anti-Realism. My favourite topic is Mechanics because of how it can reduce a physical phenomenon, such as a gravitational force, to mathematical expressions which apply directly to our world. Learning about Quantum Mechanics however, interested me because a research programme so far removed from Newtonian physics was also just as relevant. Quanta's indeterminacy gives it a sense of intrigue, as it flies in the face of common sense. How can an object be in two places at once? Why can we not determine the velocity and position of a particle? By studying these topics at a higher level, I hope to gain more rounded knowledge of both systems and a better grasp of how relevant they are. I've also read a few physics-related articles in New Scientist and been surprised at how philosophical some subjects become, like the conceivability of Free Will, as well as computers that can automatically generate formulae from experiments. If the latter is true, can the computed approach be as reliable as a human who can conceptualise the physical entities themselves, as opposed to just binary?
</br></br>
The logical grounding of Philosophy tackled my own inconsistent common-sense beliefs with the “Theories of Perception” unit, which introduced me to Naive and Sophisticated forms of Realism and Idealism. Moral philosophy struck me most, because theories that we unconsciously apply every day have such gaping flaws that go unrealised; from the unreality of Hobbesian 'state of nature' to the rigidity of Kantian deontology. They make me want to study them further to realise answers to some problems they entail: to develop an ethical theory of my own that borrows from and improves upon their ideas. Ethics brought forth my skills in critiquing more so than the other units, so it is the topic that I'm most passionate about. I've read sections of “Understand Ethics” by M.Thompson to better understand the syllabus, but to gain knowledge in the Philosophy of Science, I've also read through “What is This Thing Called Science?” by A.F.Chalmers and “Representing and Intervening” by Ian Hacking. My roundedness for other subjects can also be seen in Mathematics and Art. The former has given me solid grounding for the arithmetic side of Physics by rigorously testing my deductive skills, while the latter allowed me to explore my creativity and imagination, as well as methods of realising the ideas in different media.
</br></br>
Partaking in extra-curricular activities have made me an independent problem-solver who frequently works to deadlines, as well as a role model who engages with the community. I've co-administrated a forum for several years that produced digital pixel drawings, which later fed into my own personal site that I now manage. In joining the Interact fund-raiser, I helped put forward ideas and supported events that included the Christmas fair and a Sponsored Silence. Homework Club took me on to aid the library, where I mentored Year 8 pupil and was also selected to help update the library's database. Currently I am Head Boy, making me a student face of the school. I have to write and deliver speeches, perform supervisory duties during lunch and coordinate prefects, in addition to organising events such as the Summer Ball. In taking this course, I wish to become an educator. Be it as a lecturer or academic author, I want to broach these subjects for future scholars and contemporaries; to be in a strong position to put forth my own opinion on leading edge discoveries and theories, both physical and metaphysical.
</br></br>
Physics and Philosophy explore both the physical and metaphysical world. The former poses questions such as 'what are quarks?' whereas the latter can ask 'are quarks real?'. They form a complete whole in understanding the world to me, for a gap in knowledge in the former can be explored via latter, and vice-versa. I want to develop my enquiry skills in understanding theories of physicality, such as Newtonian Mechanics, as well as non-physical theories like Anti-Realism.My favourite topic is Mechanics because of how it can reduce a physical phenomenon, such as a gravitational force, to mathematical expressions which apply directly to our world. Learning about Quantum Mechanics however, interested me because a research programme so far removed from Newtonian physics was also just as relevant. Quanta's indeterminacy gives it a sense of intrigue, as it flies in the face of common sense. How can an object be in two places at once? Why can we not determine the velocity and position of a particle? By studying these topics at a higher level, I hope to gain more rounded knowledge of both systems and a better grasp of how relevant they are. I've also read a few physics-related articles in New Scientist and been surprised at how philosophical some subjects become, like the conceivability of Free Will, as well as computers that can automatically generate formulae from experiments. If the latter is true, can the computed approach be as reliable as a human who can conceptualise the physical entities themselves, as opposed to just binary?
</p>
    <p><a name="naturalsciences"><b>Cambridge, Natural Sciences</a></b>
    </br>
    I have always had a keen interest in the Natural Sciences especially Chemistry. I recall from an early Chemistry class, my teacher emphasising the point that Chemistry is essential for the improvements and innovations necessary for human comfort. This statement had a profound effect on me; it intensified my interest in Chemistry and over time I have found my teacher's assertion to be true. The applications of Chemistry are numerous; from the manufacturing of life saving drugs to the food production industry and the race for alternative sources of fuel. This has led me to conclude that the knowledge of Chemistry and indeed the Natural Sciences is fundamental and it is my desire to further my studies in this area. 
    <br><br>
    My academic interests are focused on the Natural Sciences and Mathematics. I'm particularly fascinated by atomic and nuclear physics and how quantum mechanics very beautifully explains the electron structures of elements and their chemical behaviour. To further my academic interests outside of the classroom, I take part in the "Tricky Physics" programme where a teacher challenges us with tasking and advanced questions, which encourages me think outside the box and gain a better appreciation for the subject. I recently participated in the Royal Society of Chemistry Lower Sixth Olympiad, attaining a score of 39 out of 40 and I also competed in the Mathematics Olympiad, winning a Bronze prize. I was very pleased to be awarded Wellington College's Chemistry Prize for outstanding work during the 2009/10 school year.
    <br><br>
    I am also a member of the Wellington College Science Society, which actively encourages students in lower years to appreciate science subjects. Each term, the Society organises lectures, activities, and publishes a magazine in which I wrote an article entitled Nuclear Fusion: the future source of energy. I frequently read the Chemistry Review in order to expand my knowledge about ground- breaking technology in the world of Chemistry. Last summer, I worked at GlaxoSmithKline Nigeria for two weeks during their preparations for the booster phase for the test of a new vaccine for pneumonia. This practical experience gave me an insight into the pharmaceutical industry and good clinical practice in a developing country.
    Aside from learning as much as I can on the Natural Sciences, I take an active interest in volunteering and community service. Over the last year, I participated in the fundraiser for the Debra Foundation, a charity which supports children with Epidermolysis Bullosa, for which we raised GBP 12,000. We raised money by selling a music record written, composed and recorded by Wellington College students. I worked in the Photo & Video group that arranged the photos, videos and interviews that promoted the record and the Foundation. This has helped me learn effective time management and teamwork.
    <br><br>
    I understand the importance of a well-rounded education; so I am a fervent believer in working hard and playing just as hard. I have a keen interest in football and participate in other competitive sports. I have represented the school football 3rd & 4th XI teams as well as representing the College Athletics Squad participating in the 400m, 800m and high jump events. 
    <br><br>
    I am constantly reminded that Chemistry permeates everything around me and I believe that my life experiences and educational background have equipped me with tools to be an asset to the university community. I believe that my diverse cultural and educational background, zeal and commitment will aid me in achieving my future academic and career aspirations.
    </p>

    <p><a name="medicine"><b>Oxford, Medicine</a></b>
    </br>
    Choosing to study medicine is not a decision I have taken lightly. It isn't a career I have wanted to do since a particularly young age, nor did a life changing event prompt my choice. I have thought very long and hard before deciding to apply. Various periods of work experience have taught me much about the career. A local hospital placement gave me the opportunity to visit A&E, Radiology and Obstetrics and Gynaecology.
    <br><br>
    Whilst fleeting, these visits to the departments highlighted the variety and diversity of the fascinating specialities medicine encompasses. A placement shadowing a clinic staff was hugely informative regarding daily life as a doctor. During the day I sat in on consultations ranging from routine post natal checkups to discussions of treatment for young people with diabetes and overactive thyroid glands.
    <br><br>
    Throughout my time there the doctor's genuine interest in his cases and unfaltering motivation highlighted to me the privilege of having such a stimulating profession. This, together with the ever advancing nature of a career in medicine, was brought to the fore by an infant who was having a check up as a result of her being put on an ECMO machine after her birth with Meconium Aspiration Syndrome. The ease with which the doctor broached and dealt with sensitive subject matter also emphasised the importance of a warm, approachable manner and an ability to communicate to a person on their level of understanding. I believe I have honed these skills and gained invaluable experience of the eccentricities of the general public myself in my job as a salesperson.
    <br><br>
    Since February of this year I have volunteered in a care home for a couple of hours each week. I assist with serving meals to the residents as well as feeding one of the more infirm ladies. My time there has brought to my attention the more unpleasant side of medicine and has proved by far the most useful work experience I have had; preparing me for the stark realities of physical ageing and senility. In spite of this, I genuinely enjoy my time there; giving residents, some of whom go months without visitors, 10 minutes of my time to chat can be very rewarding in the obvious enjoyment they get from it. The experience has shown me very clearly the importance of caring for the emotional as well as the physical needs of patients.
    <br><br>
    Outside of my lessons I enjoy orienteering with a local club. As part of an expedition I took part in, we walked 80km over 4 days in torrential rain. The challenging conditions demanded teamwork and trust to maintain morale and perform effectively as a group; as well as calm rational thought in stressful situations. Also, through this activity and the people I met, I have become a member of the SJA which has enabled me to gain first aid qualifications and go out on duties. Other activities I enjoy include drama -I was a member of a local group for 6 years - cycling and playing the guitar and piano which allow me to relax.
    <br><br>
    I know that medicine is not a "9 to 5" job and is by no means the glamorous source of easy money it is often perceived to be. I understand the hours are long and potentially antisocial and that the career can be physically exhausting and emotionally draining. It is apparent that becoming a medic will involve inherent sacrifice.
    <br><br>
    However medicine is also a deeply gratifying and fascinating career path. I want to be a medic because my passion and aptitude is foremost scientific and to me 5 or 6 years more of formal education followed by a lifetime of further learning sounds like a stimulating career option and, thankfully, a far cry from the monotony some jobs pose. Nevertheless, as an intrinsically social person, I would relish a career requiring the development of strong empathic relationships with patients too. Crucially, I know I have the enthusiasm, capacity for hard work and the open and enquiring mind needed to succeed in such a fulfilling vocation.
    </p>
  </div>
</div>