<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <h1>Join Us</h1>
      <img src="https://dl.dropboxusercontent.com/s/gciika8wx5loeu3/passport.jpg"  style="width:70px;">
      <img src="https://dl.dropboxusercontent.com/s/8l1wq974ywwtdj7/jian%20wong.jpg" style="width:70px;">
      <img src="https://dl.dropboxusercontent.com/s/xk0fbze1od8dghd/arica.png" style="width:70px;">
      <img src="https://dl.dropboxusercontent.com/s/0jono9sawguyj0l/question%20mark.png" style="width:70px;">
      <br><br>
      <p>GuruMe is looking to add talented members to our team. We aim to improve the private tuition market for international students in the UK.</p>
<br>   
      <h3>Operation Officer in China/ Co-founder</h3>
      <h4><b>Eligibility:</b></h4>
      <li>Bachelor’s degree from Oxford or Cambridge</li>
      <li>Fluency in Mandarin and English</li>
      <li>Ablility to sell our services by talking persuasively and convincingly</li>
      <li>Ability to travel to/ work in China</li>
      <h4><b>Work Entailed:</b></h4>
      <li>Organising collaboration with schools (refer to our page on Services for Schools)</li>
      <li>Organising partnerships with relevant study abroad agencies</li>
      <li>Organising undergraduate-applicant networking events/ admissions talks at a private venue</li>
      <li>Consulting students and parents in Chinese (in person, over the phone and texts)</li>
      <li>Chinese SNS advertisement (weekly updates on wechat subscription messages, weibo posting)</li>
      <li>Registering GuruMe as a company in China and raising investments from Chinese investors</li>
<br>      
      <h3>Front-End Developer/ Designer</h3>
      <h4><b>Eligibility:</b></h4>
      <li>Competence in HTML5, CSS3 and Javascript/ photoshop or illustrator</li>
      <li>Understanding of cross-browser compatibility and mobile-responsiveness</li>
      <li>Previous experience in web developments using JS libraries </li>
      <h4><b>Work Entailed:</b></h4>
      <li>Redesigning UI/UX of www.gurume.co.uk</li>
      <li>Designing ‘artworks’ to add visual attraction to static pages</li>
      
<br>      
      <h3>Why GuruMe?</h3>
      <li>Started half a year ago, GuruMe aims to be the number 1 platform for international students studying abroad in the UK</li>
      <li>100+ tutor profiles, 50+ students, , £10 000+ transacted since foundation and growing</li>
      <li>Opportunity to work on exciting project on how to best provide external education for students aiming to study abroad in the UK</li>
      <li>Task-driven, flexible working environment</li>
      <li>Work in a diverse team, with members from different backgrounds but with a shared passion for innovation</li>
<br>      
      <h3>Work Conditions</h3>
      <li>Full-time (10:00~19:00)</li>
      <li>Salary: Negotiable</li>
      <li>Location: Hong Kong office</li>
<br>      
      <h3>Application Process</h3>
      <p>1.	Email your CV/portfolios and a page introducing yourself to support@gurume.co.uk<br>
        2.	You will be invited to an interview (either on Skype or in person)</p>
      <li style="text-indent: 30px">Harry, our managing director, will introduce GuruMe</li>
      <li style="text-indent: 30px">Applicant interviews GuruMe</li> 
      <li style="text-indent: 30px">GuruMe interviews applicant’s personalities</li>
      <li style="text-indent: 30px">GuruMe interviews applicant’s expertise</li>
      <p>3. During this process the applicant may ask questions about GuruMe in order to familiarise himself and feel more confident about joining.<br>
      4.	We will notify you the results within 3 days from the interview date</p>
<br>      
      <h3>Want to know more about GuruMe?</h3>
      <li>Email us at support@gurume.co.uk</li>
    </div>
  </div>