<div class="jumbotron footers">
  <h1>Referral Scheme</h1>
  <h2>Claim your FREE 15 minutes of Skype tuition</h2>
</div>
<div class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">

<h2>How it works</h2>
    <p>GuruMe offers 15 min of free tuition with the tutor that you choose for every referral you make that results in a tuition request</p>
    <p>Please ask your friends to email <b>support@youngtutors.com</b> with the title <b>'Referral'</b> the following details:<br><br>
      1. Student Name<br>
      2. Name of tutor<br>
      3. Tuition subject<br>
      4. Name of the referrer<br>
    </p><br>
    <p>Thank you and we hope you enjoy the benefits of GuruMe's referral Scheme.</p>
  </div>
  </div>