<div class="schoolsprogram"> 
  <div class="row">
    <h2 style="text-align: center">Support for International Schools</h2>
    <br>
      <div class="col-md-2"></div>
      <div class="col-md-4 col-sm-6">
         <img src="https://dl.dropboxusercontent.com/s/avtlzqqekqic30i/Tutor%201.JPG" style="width: 450px; text-align:center; margin-bottom:30px; padding-top:5px;" class="img-responsive">
      </div>
      <div class="col-md-4 col-sm-6">
      <p>GuruMe work closely with schools to supplement their Oxbridge support for students through visits, talks and networking events. International applicants often have very high academic potential and yet their average success rate is comparatively lower (11%) than home applicants (around 20%). This is often due to the lack of information regarding Oxbridge admissions. GuruMe aims to provide teachers and students at your school with the most up to date information on the application process and the most effective preparation.</p>   
     </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="text-align: center">
        <h2>Programme</h2>
        <p>The following have been outlined in an attempt to address the most important aspects of support needed for international student and can be tailored to suit your school’s needs.</p>
      </div>
  </div>
  <br><br>
  <div class="services">
  <div class="row">    
    <div class="col-md-4">
      <div class="thumbnail">
      <div class="caption">
        <h2>Oxbridge Aspiration Talk</h2>
        <p>Our representative will share his/ her own application experience in the hope to demystify the ‘Oxbridge admissions’ and encourage students to aim high.</p>
        <p>Our representative will also deliver an introduction to the admissions process explaining the importance of personal statements, admissions tests and interviews.</p><br><br>
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
      <div class="caption">
        <h2>Networking Event</h2>
        <p>A team of current Oxbridge students or graduates majoring in different courses will visit your school to meet and talk to your students in an informal setting. Your students will meet and talk to course-specific ambassadors for tips and advices in an informal setting.</p>
        <p>There will be ambassadors originally from China and parents are welcome to join the networking event.</p><br>
      </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
      <div class="caption">
        <h2>Skype Mock Interviews</h2>
        <p>Interviews are the most important part of the Oxbridge admissions process for which there is the ‘Oxbridge interviews’ myth. Mock interviews are often the best preparation and we will work with your teachers to arrange course-specific Skype mock interviews for your students to be conducted by Oxbridge undergraduates or graduates in those courses.</p>
        <p>Each interview will be 25 minutes long to model the real interview followed by written feedback.</p>
      </div>
      </div>
    </div>
  </div>
  </div><!-- end of services -->
</div><!-- end of container -->
  <div class="schoolscontact">
    <div class="row">
      <div class="col-md-3 col-sm-3"></div>
      <div class="col-md-6 col-sm-6">
        <h1><span class="glyphicon glyphicon-envelope"></span></h1>
        <h3>To find out more about our school support, please email support@gurume.co.uk</h3> 
      </div>
    </div>
  </div>
