  <div class="spquotebox">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-1">
        <a href="free_consultation">
           <img src="https://dl.dropboxusercontent.com/s/zlnhew58nimy2y7/toplefttriangle.png" height="220" class="pull-left">
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-9">
        <br><h1><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></h1>
        <h3><i>"Find a tutor specific to your needs who studies or has studied the course that you are applying for that can share his/ her successful application/ learning experience”</i></h3>
      </div>
    </div>
  </div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 style="text-align: center;">Oxbridge Application Support</h2>
    </div>
  </div>
  <div class="spbullets">
    <div class="row">
      <div class="col-md-5 col-sm-5">
          <h2>University Q&A</h2>
      </div>
      <div class="col-md-7 col-sm-7">
        <li>Meet a 'successful senior' that has successfully entered your dream university</li>
        <li>Ask the senior what he/she did at your age</li>
      </div>       
    </div>
  </div>
  <div class="spbullets">  
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Personal Statement</h2>
      </div>
      <div class="col-md-7 col-sm-7">  
        <li>Learn what to include in your personal statement</li>
        <li>Help with initial drafting followed by several rounds of re-drafting and feedback over email/Skype</li>
      </div>
    </div>
  </div>
  <div class="spbullets">  
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Admissions Test</h2>
      </div>
      <div class="col-md-7 col-sm-7">  
        <li>Problem-solving classes to go through past papers</li>
        <li>Essay writing classes, e.g. for LNAT</li><br>
      </div>
    </div>
  </div>
  <div class="spbullets">  
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Written Work</h2>
      </div>
      <div class="col-md-7 col-sm-7">  
        <li>Ask successful applicants in your subject what to mention in your personal statement, e.g. reading list</li>
        <li>Draft reviews with written feedback via email</li>
      </div>
    </div>
  </div>  
  <div class="spbullets">  
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <h2>Interviews</h2>
      </div>
      <div class="col-md-7 col-sm-7">  
        <li>Learn what kind of questions to expect at interviews</li>
        <li>Mock interviews by Oxbridge undergraduates or graduates studying your subject</li>
      </div>
    </div>
  </div>  
  </div>
<br><br>

  <div class="spvs">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <i><h1>In person or online</h1> 
        <h3>using Skype and virtual whiteboard</h3></i>
      </div>
    </div>
  </div>
<div class="container">
<br><br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 style="text-align: center;">Exam Preparation</h2>
    </div>
  </div>
      <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-2 col-sm-4">
          <div class="circle sp">
                <h2>A-Level</h2>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="circle sp">
                <h2>IB</h2>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="circle sp">
                <h2>Pre-U</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-2 col-sm-4">
          <div class="circle sp">
                <h2>AP</h2>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="circle sp">
                <h2>SAT II</h2>
          </div>
        </div>
      </div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <p>Conditional offers from Oxford and Cambridge are very high.</p>
      <table class="table" style="text-align: center">
        <thead style="font-weight:bold">
          <tr>
            <td></td>
            <td>Oxford</td>
            <td>Cambridge</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A-Level</td>
            <td>AAA~A*A*A</td>
            <td>A*AA~A*A*A</td>
          </tr>
          <tr>
            <td>IB</td>
            <td>38~40</td>
            <td>40~41</td>
          </tr>
        </tbody>
      </table>
      <p>GuruMe believes that getting good examination grades is different from being successful in Oxbridge interviews but an important part of the whole process.</p>
      <p>Therefore, GuruMe supports our applicants with exam preparation as an additional aspect of Oxbridge admissions for meeting the conditional offer.</p>
    </div>
  </div>
      