<div class="jumbotron footers">
  <h1>Terms and Conditions</h1>
</div>
<div class="container">
<div class="termsandconditions">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <a name="gurume"><h2><i>Where Gurume stands between student and tutor</i></h2></a>
      <p>Gurume’s job is to provide a platform where students can obtain help with exam preparation and university admissions by asking questions at our ‘Ask a Tutor’ forum and also where students and tutors can network with each other for tuition.<br><br>
        Gurume does not endorse a tutor and each student is responsible for determining the suitability of the tutor based on reading through the tutor’s profiles, reviews and his/ her interaction with the tutor via the messaging system provided by the site. A student may request a tutor for validation of education history that is claimed on his/ her profile; this includes asking for a university enrolment transcript, the university student card or certificates of standardized tests. We are not a tutorial agency and, therefore, we will not be responsible for any damage or harm resulting from your interactions, or those of anyone else, with tutors or students.<br><br>
        By using the Site or Services, you agree (i) any legal remedy or liability that you seek to obtain for actions of students tutors will be limited to a claim against the particular student/ tutor that caused you harm; and (ii) not to attempt to impose liability on, or seek any legal remedy from Gurume with respect to such actions. In addition, Gurume is not responsible for the use or exchange of any information or files between students and tutors.</p>
      <!-- Refund -->
      <h2><i>Refund and Cancellation Policy</i></h2>
      <p><b>Cancellation by student</b><br>
        - If a student wants to cancel tuition, the student has to notify the tutor directly 3 working days prior to the agreed date. Rescheduling of lessons directly with the tutor may be possible; however, if the student would like to refund, refund of the full amount minus transaction fee may also possible.<br>
        - In late notification cases where the tutor disapproves rescheduling, payment for that cancelled lesson will be liable.<br>
        - If a student wants another tutor because he is dissatisfied with the current tutor for being absent or not knowing the materials or just not happy in general with the teaching style, student may stop current tuition and start a new one by filling out ‘Request a new tutor’ form on ‘My Tuition’ page.<br>
        <b>Cancellation by tutor</b><br>
        - If a tutor cancels the scheduled tuition because he/she is no longer available, full amount of initially paid fees are refundable.</p>
      <!-- Rating -->
      <h2><i>Rating and Feedback policy</i></h2>
      <p>Tutors acknowledge that student reviews may consist of comments and ratings left by students and that Gurume may calculate a composite feedback number based on these individual ratings. Tutors agree to be rated by students along several criteria, as determined by Gurume. Gurume provides its student review system as a means through which students can express their opinions publicly, and Gurume does not monitor or censor these opinions or investigate any remarks posted by students for accuracy or reliability unless a student brings the posting to Gurume’s attention. Also be aware that users can be held legally responsible for damages to someone's reputation if their reviews are deemed to be. By law, Gurume is not legally responsible for any feedback or comments posted or made available on this site by any students or third parties, even if that information is defamatory or otherwise legally actionable.<br><br> 
        You agree to report violations or abuses of our rating and feedback system immediately by contacting us, and agree not to take any actions that undermine the integrity of the feedback system, including but not limited to the following: <br>
      <b>For students</b><br>
        - Threatening to leave negative feedback and requesting free tuition or reduced fees<br>
      <b>For tutors</b><br>
        - Soliciting other Gurume students to leave fake or inaccurate feedback<br>
        - Trading feedback undeservedly or buying feedback<br><br>
        In order to protect the integrity of the feedback system and protect tutors from abuse, Gurume will investigate and has the right (but is under no obligation) to remove posted feedback or information under the following scenarios: It contains language that is profane, vulgar, or racist, contains adult material or is not directly related to tuition offered by the tutor.</p>
      <!-- student policy -->
      <h2><i>Billing and Payment Policy</i></h2>
      <p>Gurume’s payment service allows students to pay tutors via the site. The site acts as an escrow service where students make the payment at the time of tuition booking and tutors are paid at the end of the scheduled tuition.<br><br>
        <b>How students pay tutors</b><br>
        - To pay the tutorial fee, student must follow the instructions and links on the Site and provide the information requested.<br>
        - Students pay for the agreed hours of tuition at the time of booking via the site and agree to appoint Gurume’s escrow services in holding on to the tuition fees for the duration of agreed period until the end before forwarding the payment to tutors. <br>
        <b>Dissatisfaction and Disputes</b><br>
        - At the end of agreed tuition period, students will be asked on the feedback of the delivered tuition. Since then, students have 5 working days to contact the support team to report any dissatisfaction before the payment is transferred to tutors. Gurume may withhold or delay the agreed payment to tutors in the event of disputes until the disputes are resolved as judged by the support team.<br> 
        - However, in the absence of dissatisfaction report within 5 working days from the end of end of tuition notification emailing is student’s representation that student has received and acknowledge receipt of scheduled tuition. Student acknowledges and agrees that upon transfer of funds to the tutor, Gurume has no responsibility to and may not be able to recover such funds and, therefore, that payment is non-refundable. Student agrees not to ask its credit card company, bank or other payment service provider to charge back any amount to Gurume for any reason.<br> 
        <b>Appointment of Gurume as Agent</b><br> 
        - When you instruct Gurume to pay your tutor(s) as a student, parent or an institute, you hereby appoint Gurume as your agent, on your behalf to charge your payment method and debit your Account to pay the tutor.<br><br> 

        <b>How tutors bill for their tuition services</b><br>
        - To create an invoice and bill a student for Tuition Services, tutor must follow the instructions and provide the information requested under the “Billing” links on the Site. By submitting an invoice, tutor (1) represents and warrants that he/she has completed the applicable tuition job fully and satisfactorily; (2) represents and warrants that the hours tutor reports are true, accurate and complete.<br>
        <b>Service Fees</b><br>
        - Gurume will deduct its Service Fee from the tutor’s Account after crediting the amount paid by student to tutor’s Account via the Site. 
        - The amount of the Escrow Service Fee deducted by Gurume is 10% of total tuition fees.<br>
        <b>Payment Date</b><br>
        - Please allow 7-13 working days for your tuition payment to be processed into your account.<br> 
        - Gurume payment date is every Friday: if you bill on Tuesday 4th, you will be billed next Friday (14th)/ if you bill on Friday (7th), you will be billed next Friday (14th).
        - Since the time of your billing, students will have 5 working days to report dissatisfaction. Gurume may withhold or delay the agreed payment to tutors in the event of disputes until the disputes are resolved. Agreed payment maybe subject to negotiation of the tuition fees depending on the circumstance of dispute as judged by the support team.<br>    
        <b>Appointment of Gurume as Agent</b><br>
        - When you request payment for your tuition job as a tutor, you hereby appoint Gurume as your agent to obtain funds on your behalf from your student and credit them to your account. Tutors must and hereby does fully discharge and credit its student for all payments that Gurume receives from the student on the tutor’s behalf. 

      
      <h2><i>Student policy</i></h2>
      <p><b>Asking a question at ‘Ask a Tutor’ forum</b><br>
        - Only ask questions related to academics, (e.g. a question on GCSE biology, UCAS admissions process) and do not write anything that are derogatory, for advert purpose.<br>
        <b>Writing enquiry messages</b><br>
        As a student, when making an enquiry to a selected tutor, you agree to your enquiry being viewable by other tutors and the following guidelines:<br> 
        - Answer questions from tutors to clarify the goals of tuition<br> 
        - Evaluate multiple proposals from tutors against criteria important to you, such as a tutor’s teaching experience, education, qualifications, references, feedback from prior students and location<br>

        <b>Booking tuition</b><br>
        You agree NOT to do the following when you request tutorship with a selected tutor:<br>
        - Book tuition that is fake made without the intention of receiving tuition<br>

        <b>Tutorial conduct</b><br>
        - Make sure to notify the tutor at least 3 hours in advance if you are going to be late for scheduled lesson<br>
        - Inform the tutor if you will be unavailable for the next tutorial session date at least 3 working days prior to the tutorial

      <h2><i>Tutor policy</i></h2>
      <p><b>Commenting answers on ‘Ask a Tutor’ forum</b><br>
        You agree to follow these guidelines when you comment answers on the question forum:<br>
        - Only write answers that are facts<br>
        - Do not write anything other than answers to the question, i.e. derogatory, advert purpose comments that are irrelevant to the question<br>
        <b>Replying to enquiry messages</b><br>
        You agree to follow these guidelines when you submit a proposal:<br>
        - Provide proposals only for enquiries that you are a good fit for because you have studied the particular subject requested and know the subject well enough to tutor the student.<br>
        - Submit an accurate proposal reflecting your understanding of the subject with qualifications or standardized test score if applicable. <br>
        - Help the student clarify his or her needs and fully develop Tuition plan and schedule<br> 
        - Specify payment terms in your proposal<br>
        - Inform the Client of your available hours<br>
        - Submit certificates of any standardized test scores or university enrolment,/ graduation if requested by student<br>
        - Ask students to book lessons through Gurume<br>
        - Not to offer Tuition outside Gurume for cheaper Tuition fee<br>

        <b>Fulfilling the tutoring job</b><br>
        - If running late, make sure to notify the student at least 3 hours in advance if you are going to be late for scheduled lesson<br>
        - If unavailable, make sure to notify the student early, at least 2 working days before the scheduled date 
        - If unavailable on a short notice, it’s the tutor’s job to notify the student as soon as possible so that the student can find an alternative tutor<br>
        - Make sure you know the tuition materials<br>
        - Do not fabricate academic facts<br>
        - Make sure to complete and give back all problem sheets, essay markings by the agreed date<br> 
        - Inform the student if you will be unavailable for the next tutorial session date 3 business days prior to the tutorial<br>
        - If you are unable to complete the agreed tuition period, let support@youngtutors.com know of the situation immediately so that the support team can offer assistance to the student<br>
        - Respond promptly, within one working day, to all tutorial-related communication, whether from the student or from Gurume<br>
        - Do not violate academic integrity by doing homework, projects for the student<br>
      </p>
    </div>
  </div>
</div>
  