<br><div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6" style="text-align: center">
      <h1>What is it?</h1>
      <h3>4000 character long summary of why an applicant wishes to study a particular course - <b>not the university</b></h3>
    <br><br>
      <h1>What to include?</h1>
      <div class="row" style="text-align: left">
        <div class="col-md-2"></div>
        <div class="col-md-8">
      <h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Why I want to study the subject</h4>
      <h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;What I have read about the subject beyond school standard</h4>
      <h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;Academic achievements</h4>
      <h4><span class="glyphicon glyphicon-pencil"></span>&nbsp;Extracurricular achievements</h4>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of container -->

<div class="pstips">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-10">
      <h1>Checklist</h1>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Show off</h3> <p>This is where you need to demonstrate how much you’ve read around a subject to demonstrate your commitment. Mention any course-related books you have read, theories, concepts you have come across and that you would like to pursue these further. These may provide points of discussion at your interviews. Mention your favourite topics.</p>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Academic Academic Academic...</h3> <p>There should be less emphasis on extracurricular achievements as academic achievements are the primary interest of the university.</p>
      <h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Read personal statements of successful applicants</h3> <p>Check out sample personal statements of successful applicants at link and also some subject-specific suggested reading lists at link</p>
      <br><br>
    </div>
  </div>
</div>
