<br>
<div class="container">
  <div class-"row">
    <div class="col-md-3"></div> 
    <div class="col-md-6">
      <h1 style="text-align: center">Written Content</h1><br>
      <p>Arts subjects at Oxbridge sometimes require submission of a piece of written work. For these pieces of work, tutors are looking for four specific attributes:</p>
      <li style="text-indent: 30px; font-size: 22px;color:#F25842;font-weight:bold;">Passion</li>
      <li style="text-indent: 30px; font-size: 22px;color:#F25842;font-weight:bold;">Knowledge</li>
      <li style="text-indent: 30px; font-size: 22px;color:#F25842;font-weight:bold;">Analytical ability</li>
      <li style="text-indent: 30px; font-size: 22px;color:#F25842;font-weight:bold;padding-bottom: 10px;">Sophistication of argument</li>
      
      <p>The coursework submitted must thus be taken as a chance to show that you have these skills and attributes. It is not expected that your work is perfect, but these attributes have to be present. These four attributes will be broken down below with a consideration of strategies on how to achieve them.</p>
      <p><span style="color: #F25842; font-weight:bold;">Passion</span> – Tutors want to see applicants who show genuine interest in the subject. The easiest way to convey this is to demonstrate an interest in your subject that goes beyond your schoolwork. You should demonstrate in your coursework that you have read widely on the topic, going beyond the syllabus.</p>
      <p><span style="color: #F25842; font-weight:bold;">Knowledge</span> – This links very closely with passion. Tutors frequently see the two as connected. To demonstrate that you are truly interested in your specific subject, you must be able to show that you have read widely on the subject. Read academic books, analyse them and use the ideas they discuss in your submitted coursework.</p>
      <p><span style="color: #F25842; font-weight:bold;">Analytical ability</span> – Ultimately, a good essay must be analytical. This basically means using information to make a point or an argument. A common mistake, is to slip into a narrative, where a story rather than an argument is presented. Make sure you have a clear argument for each paragraph. At Sophistication of argument – Probably the most vague of the four points. Sophistication of argument is about being able to consider multiple arguments and resolve them. This does not mean finding a ‘right’ answer, but finding one which you can back up and defend. This last skill brings together the skills listed above. To consider multiple arguments, you will have to first read up to find what these arguments are. To resolve them, you will need to show you have analytical ability.the start of each paragraph, as yourself what is the point I want to make? If the first sentence of every paragraph fails to convey what the paragraph wants to say then it is unclear and needs to be changed.</p>
      <p><span style="color: #F25842; font-weight:bold;">Sophistication of argumen</span> – Probably the most vague of the four points. Sophistication of argument is about being able to consider multiple arguments and resolve them. This does not mean finding a ‘right’ answer, but finding one which you can back up and defend. This last skill brings together the skills listed above. To consider multiple arguments, you will have to first read up to find what these arguments are. To resolve them, you will need to show you have analytical ability.</p>
      
      
    </div>
  </div>
</div>
<div class="writtenworknotes">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-2 col-xs-10">
      <h2 style="text-align:center;">Last Notes:</h2>
      <p>The role of the submitted coursework in Oxbridge admissions varies. Some colleges use it only to consider who to invite for interview. Others use it to form the basis of the interview. Due to this, your written coursework should be on a topic that you are ready to discuss with an expert. This means having read widely enough and thought deeply enough on it so that you can hold an intellectual conversation. There is no real preference between writing coursework from scratch or using one from your existing schoolwork. So long as your work shows the four skills above and is on a topic you are passionate and knowledgeable about, you will do well.</p>
    </div>
  </div> 
  
</div>