<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <br>
      <center>
        <div style="background: #7997F2; color: #fff; width: 410px; height: 130px; border-radius: 25px">            
            <h1 style="color: #fff;padding-top:25px;">그루미 선생님이 되신걸 축하드립니다!</h1>
        </div><br>
        <h3>이제 과거에 가르쳤던 학생들에게 후기를 부탁해보아요~ 후기가 많은면 많을 수록 프로필이 더 좋아 보입니다!</h3> 
        <h3>그루미에서 제공하는 <%= link_to "후기 요청", invite_for_review_tutor_profiles_path %> 템플렛을 써보세요^^</h3>
      </center>
    </div>
  </div>
</div>