<% unless params[:controller]=="pages" && ["writing_personal_statements","oxbridge_interviews","our_stars", "services_for_schools", "free_consultation", "admissions_test", "written_work", "index"].include?(params[:action]) %>
  <br><br><br>
<% end %>
</div><!-- end of container from layout/application -->
<div class="footer">    
  <div class="copyright">
        <h4>Edusia</h4>        
        <p>Copyright © Edusia All Rights Reserved</p>
  </div>      
</div> <!-- end of footer -->

    

