<% unless params[:controller]=="pages" && ["writing_personal_statements","oxbridge_interviews","our_stars", "services_for_schools", "free_consultation", "admissions_test", "written_work", "index"].include?(params[:action]) %>
  <br><br><br>
<% end %>
</div><!-- end of container from layout/application -->
<div class="footer">    
  <div class="copyright">
    <p><%= link_to "About GuruMe", pages_about_path %> &nbsp;|&nbsp; <%= link_to "Contact Us", contacts_path %></p>
        <h4>GuruMe</h4>        
        <p>Copyright © GuruMe All Rights Reserved</p>
  </div>
      <!--<div class="fb-like" data-href="http://www.youngtutors.com/" data-layout="box_count" data-action="recommend" data-show-faces="true" data-share="false"></div>-->

<a href="https://www.facebook.com/pages/GuruMe/1520714664813227" target="_blank" align="left"><img src="https://dl.dropboxusercontent.com/s/8gg3f7uhhb6gkah/FB-f-Logo__blue_50.png" border="0" style="margin:1px; width:40px;"></a>  
<a href="https://www.youtube.com/channel/UC7CSa0PhSdBPXCGPysSWzCQ" target="_blank" align="left"><img src="https://dl.dropboxusercontent.com/s/sggtg426gxfhtgy/YouTube-social-square_red_48px.png" border="0" style="margin:1px; width:40px;"></a>
          

</div> <!-- end of footer -->

    

